{% extends "layouts/base.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block title %} World - Campaigns - Editor {% endblock %}

{% block stylesheets %}
    <!-- Empty -->
{% endblock stylesheets %}

{% block content %}
    <input type="hidden" value="{{ csrf_token }}" id="csrftoken" readonly/>
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4 mb-0">{% trans 'Campaigns Workbench' %}</h2>
            <p class="mb-0">{% trans 'Create or edit work campaign' %}</p>
        </div>
    </div>

    <form id="workbench">
        <div class="row">
            <div class="col-4" id="campaignInformation">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill mb-4">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0">
                                <h2 class="h5">{% trans 'Information:' %}</h2>
                            </div>

                            <div class="card-body p-0 formLoading">
                                <div class="row g-2">
                                    <div class="col-4 align-self-top py-2">
                                        <img src="{% static 'img/imgLoading.png' %}" id="itemImage" data-src="{% imageFor url %}" alt="Entry Image" class="lazyload img-fluid rounded">
                                    </div>

                                    <div class="col-8 align-self-top">
                                        <div class="py-2">
                                            <h2 class="h5 mb-2">
                                                <label class="visually-hidden" for="entryTitle">Title</label>
                                                <div class="input-group input-group">
                                                    <div class="input-group-text">{% trans 'Title' %}</div>
                                                    <input type="text" class="form-control" id="entryTitle" placeholder="{% trans 'Title' %}" required>
                                                </div>
                                            </h2>

                                            <div class="d-flex align-items-center">
                                                <div class="row gy-2 gx-3 align-items-center">
                                                    <div class="col-4">
                                                        <label class="visually-hidden" for="entryId">Id</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-text">{% trans 'ID' %}</div>
                                                            <input type="text" class="form-control" id="entryId" placeholder="Entry Id" value="{{ itemId|default:0 }}" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="col-8">
                                                        <label class="visually-hidden" for="entryTag">Tag</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-text">{% trans 'Tag' %}</div>
                                                            <input type="text" class="form-control" id="entryTag" placeholder="{% trans 'Tag' %}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="align-items-center mt-2">
                                                <label for="entryDescription" class="form-label visually-hidden">{% trans 'Description' %}</label>
                                                <textarea class="form-control" id="entryDescription" rows="3" placeholder="{% trans 'Description' %}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card card-body border-0 shadow">
                            <div class="row justify-content-evenly">
                                <div class="col-lg-6 col-12">
                                    <button class="btn btn-red-100 animate-up-2 w-100" type="reset" id="cancelButton">
                                        {% trans 'Cancel' %}
                                    </button>
                                </div>

                                <div class="col-lg-6 col-12 mt-2 mt-lg-0">
                                    <button class="btn btn-green-100 animate-up-2 w-100" type="submit" id="saveButton">
                                        {% if enemyId is not None %}
                                            {% trans 'Save' %}
                                        {% else %}
                                            {% trans 'Create' %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="alert alert-success fade show validation" role="alert" id="informationValidation">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5" id="campaignLocations">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0 pt-2">
                                <h2 class="h5">{% trans 'Locations:' %}</h2>
                            </div>

                            <div class="card-body p-0 pt-2 cards-scroll formLoading">
                                <div class="row gy-2 gx-2">
                                    <div class="col-6">
                                        <label class="visually-hidden" for="locationList">Select Location:</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-text">{% trans 'Location' %}</div>
                                            <select class="form-control" id="locationList" required>
                                                <option value="hidden" selected hidden disabled>Choose Location</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Add button -->
                                    <div class="col-3">
                                        <button class="btn btn-sm btn-green-100 animate-up-2 w-100" type="button" id="addLocationButton">
                                            Add Location
                                        </button>
                                    </div>

                                    <!-- Remove button -->
                                    <div class="col-3">
                                        <button class="btn btn-sm btn-red-100 animate-up-2 w-100" type="button" id="removeLocationButton">
                                            Remove Location
                                        </button>
                                    </div>

                                    <div class="col-12">
                                        <div class="row gx-2">
                                            <div class="col-6">
                                                <div class="form-check form-switch">
                                                    <label class="form-check-label" for="locationStart">{% trans 'Location starting.' %}</label>
                                                    <input class="form-check-input" type="checkbox" id="locationStart">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-check form-switch">
                                                    <label class="form-check-label" for="locationFinish">{% trans 'Location finishing.' %}</label>
                                                    <input class="form-check-input" type="checkbox" id="locationFinish">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="my-2">

                                    <div class="col-12">
                                        <div class="d-flex justify-content-between align-items-center mb-1">
                                            <h3 class="h6 m-0">{% trans 'Paths:' %}</h3>

                                            <div class="col">
                                                <div class="btn-toolbar justify-content-end ps-2">
                                                    <a href="javascript:void(0)" class="btn btn-xs btn-outline-success d-inline-flex align-items-center" id="addPathButton">
                                                        <i class="fa-solid fa-plus me-1"></i>
                                                        {% trans 'Add' %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row gx-2 gy-1" id="locationPathRow">
                                            <template id="locationPathTemplate">
                                                <div class="col-12 pathRow">
                                                    <div class="row gx-2">
                                                        <div class="col">
                                                            <label class="visually-hidden" for="locationPathFrom">From Location:</label>
                                                            <div class="input-group input-group-sm">
                                                                <div class="input-group-text">{% trans 'From Location' %}</div>
                                                                <select class="form-control" id="locationPathFrom" disabled required>
                                                                    <option value="hidden" selected hidden disabled>Choose Location</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col">
                                                            <label class="visually-hidden" for="locationPathTo">To Location:</label>
                                                            <div class="input-group input-group-sm">
                                                                <div class="input-group-text">{% trans 'To Location' %}</div>
                                                                <select class="form-control" id="locationPathTo" required>
                                                                    <option value="hidden" selected hidden disabled>Choose Location</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-auto">
                                                            <button class="btn btn-sm btn-outline-danger animate-up-2 w-100" type="button" id="removePathButton">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>

                                    <div class="col-12 pt-1">
                                        <div class="d-flex justify-content-between align-items-center mb-1">
                                            <h3 class="h6 m-0">{% trans 'Conditions:' %}</h3>

                                            <div class="col">
                                                <div class="btn-toolbar justify-content-end ps-2">
                                                    <a href="javascript:void(0)" class="btn btn-xs btn-outline-success d-inline-flex align-items-center" id="addConditionButton">
                                                        <i class="fa-solid fa-plus me-1"></i>
                                                        {% trans 'Add' %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row gx-2 gy-1" id="locationConditionRow">
                                            <template id="locationConditionTemplate">
                                                <div class="col-12 conditionRow">
                                                    <div class="row gx-2">
                                                        <div class="col">
                                                            <label class="visually-hidden" for="locationConditionType">Select Type:</label>
                                                            <div class="input-group input-group-sm">
                                                                <div class="input-group-text">{% trans 'Type' %}</div>
                                                                <select class="form-control" id="locationConditionType" required>
                                                                    <option value="hidden" selected hidden disabled>Choose Type</option>
                                                                    <option value="ENEMY_DEATHS">Enemy Deaths</option>
                                                                    <option value="PLAYER_DEATHS">Players Deaths</option>
                                                                    <option value="DOORS_OPENED">Doors Opened</option>
                                                                    <option value="ROUND_REACHED">Round Reached</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col">
                                                            <label class="visually-hidden" for="locationConditionValue">Value</label>
                                                            <div class="input-group input-group-sm">
                                                                <div class="input-group-text">{% trans 'Value' %}</div>
                                                                <input type="text" class="form-control" id="locationConditionValue" placeholder="{% trans 'Value' %}">
                                                            </div>
                                                        </div>

                                                        <div class="col">
                                                            <label class="visually-hidden" for="locationConditionResult">Select Result:</label>
                                                            <div class="input-group input-group-sm">
                                                                <div class="input-group-text">{% trans 'Result' %}</div>
                                                                <select class="form-control" id="locationConditionResult" required>
                                                                    <option value="hidden" selected hidden disabled>Choose Result</option>
                                                                    <option value="COMPLETED">Completed</option>
                                                                    <option value="FAILED">Failed</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-auto">
                                                            <button class="btn btn-sm btn-outline-danger animate-up-2 w-100" type="button" id="removeConditionButton">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>

                                    <div class="col-12 pt-1">
                                        <div class="d-flex justify-content-between align-items-center mb-1">
                                            <h3 class="h6 m-0">{% trans 'Stories:' %}</h3>

                                            <div class="col">
                                                <div class="btn-toolbar justify-content-end ps-2">
                                                    <a href="javascript:void(0)" class="btn btn-xs btn-outline-success d-inline-flex align-items-center" id="addStoryButton">
                                                        <i class="fa-solid fa-plus me-1"></i>
                                                        {% trans 'Add' %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row gx-2 gy-1" id="locationStoryRow">
                                            <template id="locationStoryTemplate">
                                                <div class="col-12 storyRow">
                                                    <div class="row gx-2">
                                                        <div class="col-auto">
                                                            <label class="visually-hidden" for="locationStoryTrigger">Trigger:</label>
                                                            <div class="input-group input-group-sm">
                                                                <div class="input-group-text">{% trans 'Trigger' %}</div>
                                                                <select class="form-control" id="locationStoryTrigger" required>
                                                                    <option value="hidden" selected hidden disabled>Choose Trigger</option>
                                                                    <option value="NEW">New</option>
                                                                    <option value="ONGOING">Ongoing</option>
                                                                    <option value="COMPLETED">Completed</option>
                                                                    <option value="FAILED">Failed</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col">
                                                            <div class="align-items-center">
                                                                <label for="locationStoryText" class="form-label visually-hidden">{% trans 'Description' %}</label>
                                                                <textarea class="form-control form-control-sm js-auto-size" id="locationStoryText" rows="1" placeholder="{% trans 'Description' %}"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="col-auto">
                                                            <button class="btn btn-sm btn-outline-danger animate-up-2 w-100" type="button" id="removeStoryButton">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="alert alert-success fade show validation" role="alert" id="locationsValidation">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" id="campaignAchievements">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="h5 m-0">{% trans 'Achievements:' %}</h2>

                                    <div class="col-6 mb-2">
                                        <div class="btn-toolbar justify-content-end">
                                            <a href="javascript:void(0)" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center disabled" id="addAchievement">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                {% trans 'Add' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body p-0 pt-2 cards-scroll formLoading">
                                <div class="col-12 mt-2">
                                    <div class="alert alert-danger fade show p-1 px-2 mb-2" role="alert">
                                        <i class="fa-solid fa-exclamation-triangle me-1"></i>
                                        {% trans 'Achievements under construction!' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="alert alert-success fade show validation" role="alert" id="achievementsValidation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    <script async>
        function expandTextarea(element) {
            function perform() {
                element.style.overflow = 'hidden';
                element.style.height = 0;
                element.style.height = element.scrollHeight + 'px';
            }

            perform();
            element.addEventListener('keyup', perform, false);
         }

        // ---- | Variables

        const csrfToken = document.querySelector('#csrftoken').value;

        // ---- | Urls

        const allUrl = "{% url 'apiQueryTable' table="campaigns" %}";
        const entryUrl = "{% url 'apiQueryTableID' table="campaigns" id=campaignId|default:0 %}";
        const validateUrl = "{% url 'apiValidateTable' table="campaign" %}";

        // ---- | Data

        const formRoot = document.getElementById('workbench');
        const formValidator = new Dashboard.FormValidator(formRoot, validateUrl);
        const formEditor = new Dashboard.FormEditor(formRoot, entryUrl, formValidator);

        const entryTitle = formRoot.querySelector('#entryTitle');
        entryTitle.addEventListener('input', () => {
            formEditor.object.title = entryTitle.value;
            formEditor.validate();
        });

        const entryTag = formRoot.querySelector('#entryTag');
        entryTag.addEventListener('input', () => {
            formEditor.object.tag = entryTag.value;
            formEditor.validate();
        });

        const entryDescription = formRoot.querySelector('#entryDescription');
        entryDescription.addEventListener('input', () => {
            formEditor.object.description = entryDescription.value;
            formEditor.validate();
        });

        const infoValidation = document.getElementById('informationValidation');
        const locationsValidation = document.getElementById('locationsValidation');
        const achievementsValidation = document.getElementById('locationsValidation');

        formValidator.setOnStart(() => {
            infoValidation.classList.remove('alert-success', 'alert-danger', 'alert-collapsed');
            infoValidation.classList.add('alert-warning', 'validating');
            infoValidation.innerHTML = '<i class="fa-solid fa-spinner-third me-1"></i> Validating...';

            locationsValidation.classList.remove('alert-success', 'alert-danger', 'alert-collapsed');
            locationsValidation.classList.add('alert-warning', 'validating');
            locationsValidation.innerHTML = '<i class="fa-solid fa-spinner-third me-1"></i> Validating...';

            achievementsValidation.classList.remove('alert-success', 'alert-danger', 'alert-collapsed');
            achievementsValidation.classList.add('alert-warning', 'validating');
            achievementsValidation.innerHTML = '<i class="fa-solid fa-spinner-third me-1"></i> Validating...';
        })

        formValidator.setOnSuccess(() => {
            infoValidation.classList.remove('alert-warning', 'alert-danger', 'validating');
            infoValidation.classList.add('alert-success', 'alert-collapsed');
            infoValidation.innerHTML = '';

            locationsValidation.classList.remove('alert-warning', 'alert-danger', 'validating');
            locationsValidation.classList.add('alert-success', 'alert-collapsed');
            locationsValidation.innerHTML = '';

            achievementsValidation.classList.remove('alert-warning', 'alert-danger', 'validating');
            achievementsValidation.classList.add('alert-success', 'alert-collapsed');
            achievementsValidation.innerHTML = '';
        })

        formValidator.setOnFail((errors) => {
            formValidator.onSuccess();

            if (errors.length === 0) {
                infoValidation.classList.remove('alert-success', 'alert-collapsed');
                infoValidation.classList.add('alert-danger');
                infoValidation.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> Internal Server error!';

                locationsValidation.classList.remove('alert-success', 'alert-collapsed');
                locationsValidation.classList.add('alert-danger');
                locationsValidation.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> Internal Server error!';

                achievementsValidation.classList.remove('alert-success', 'alert-collapsed');
                achievementsValidation.classList.add('alert-danger');
                achievementsValidation.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> Internal Server error!';
                return;
            }

            for (const err of errors) {
                const errorDiv = document.createElement('div');
                errorDiv.classList.add('d-block', 'row', 'mt-1');

                if (!err.errors) {
                    errorDiv.innerHTML = `
                        <div class="col-12">
                            <i class="fa-solid fa-exclamation-triangle me-1"></i>
                            <span>${err.message}</span>
                        </div>
                    `;
                } else {
                    // Recursive error mapping keep spacing
                    function mapErrors(errors, level) {
                        return errors.map((field) => {
                            const padding = " ".repeat(level);

                            if (field.errors) {
                                return `
                                    ${padding}<div class="col-12">
                                    ${padding}    <i class="fa-solid fa-exclamation-triangle me-1"></i>
                                    ${padding}    <span>${field.message}</span>
                                    ${padding}</div>
                                    ${mapErrors(field.errors, level + 4).join('')}
                                `;
                            } else {
                                return `
                                    ${padding}<div class="col-12">
                                    ${padding}    <span class="ms-1">* ${field.message}</span>
                                    ${padding}</div>
                                `;
                            }
                        });
                    }

                    errorDiv.innerHTML = mapErrors(err.errors).join('');
                }

                switch (err.object) {
                    case 'CampaignLocation': {
                        locationsValidation.classList.remove('alert-success', 'alert-collapsed');
                        locationsValidation.classList.add('alert-danger');

                        locationsValidation.appendChild(errorDiv);
                        break;
                    }

                    default: {
                        infoValidation.classList.remove('alert-success', 'alert-collapsed');
                        infoValidation.classList.add('alert-danger');

                        infoValidation.appendChild(errorDiv);
                        break;
                    }
                }
            }
        })

        // -------

        const pathRow = document.getElementById('locationPathRow');
        const pathRowTemplate = document.getElementById('locationPathTemplate');
        const pathAddButton = document.getElementById('addPathButton');
        pathAddButton.addEventListener('click', () => addPath(null));

        function addPath(path) {
            const newLocationPath = pathRowTemplate.content.cloneNode(true);
            newLocationPath.id = `path-${pathRow.children.length}`;
            pathRow.appendChild(newLocationPath);

            const campaign = formEditor.object;
            const newLocationPathAdded = pathRow.lastElementChild;
            const pathFrom = newLocationPathAdded.querySelector('#locationPathFrom');
            const pathTo = newLocationPathAdded.querySelector('#locationPathTo');

            const selectedLocation = campaign.locations.find((loc) => loc.location.id == locationSelection.value);
            if (selectedLocation === undefined) return;

            for (const loc of campaign.locations) {
                const option = document.createElement('option');
                option.value = loc.location.id;
                option.text = `#${loc.location.id} - ${loc.location.title}`;

                pathFrom.appendChild(option);
                pathTo.appendChild(option.cloneNode(true));
            }

            if (path) {
                pathFrom.value = path.idStart;
                pathTo.value = path.idEnd;
            } else {
                pathFrom.value = selectedLocation.location.id;
                path = { idCampaign: campaign.id, idStart: selectedLocation.location.id, idEnd: 0 };
                selectedLocation.paths.push(path);
                formEditor.validate();
            }

            pathFrom.addEventListener('input', () => {
                path.idStart = parseInt(pathFrom.value);
                formEditor.validate();
            });

            pathTo.addEventListener('input', () => {
                path.idEnd = parseInt(pathTo.value);
                formEditor.validate();
            });

            const removePathButton = newLocationPathAdded.querySelector('#removePathButton');
            removePathButton.addEventListener('click', () => {
                newLocationPathAdded.remove();

                selectedLocation.paths = selectedLocation.paths.filter((locPath) => locPath !== path);
                formEditor.validate();
            });
        }

        const conditionRow = document.getElementById('locationConditionRow');
        const conditionRowTemplate = document.getElementById('locationConditionTemplate');
        const conditionAddButton = document.getElementById('addConditionButton');
        conditionAddButton.addEventListener('click', () => addCondition(null));

        function addCondition(condition) {
            const newCondition = conditionRowTemplate.content.cloneNode(true);
            newCondition.id = `condition-${conditionRow.children.length}`;
            conditionRow.appendChild(newCondition);

            const campaign = formEditor.object;
            const newConditionAdded = conditionRow.lastElementChild;
            const conditionType = newConditionAdded.querySelector('#locationConditionType');
            const conditionValue = newConditionAdded.querySelector('#locationConditionValue');
            const conditionResult = newConditionAdded.querySelector('#locationConditionResult');

            const selectedLocation = campaign.locations.find((loc) => loc.location.id == locationSelection.value);
            if (selectedLocation === undefined) return;

            if (condition) {
                conditionType.value = condition.type;
                conditionValue.value = condition.value;
                conditionResult.value = condition.result;
            } else {
                condition = { type: 'ENEMY_DEATHS', value: 0, result: 'COMPLETED'};
                selectedLocation.conditions.push(condition);
                formEditor.validate();
            }

            conditionType.addEventListener('input', () => {
                condition.type = conditionType.value;
                formEditor.validate();
            });

            conditionValue.addEventListener('input', () => {
                condition.value = conditionValue.value;
                formEditor.validate();
            });

            conditionResult.addEventListener('input', () => {
                condition.result = conditionResult.value;
                formEditor.validate();
            });

            const removeConditionButton = newConditionAdded.querySelector('#removeConditionButton');
            removeConditionButton.addEventListener('click', () => {
                newConditionAdded.remove();

                selectedLocation.conditions = selectedLocation.conditions.filter((locCond) => locCond !== condition);
                formEditor.validate();
            });
        }

        const storyRow = document.getElementById('locationStoryRow');
        const storyRowTemplate = document.getElementById('locationStoryTemplate');
        const storyAddButton = document.getElementById('addStoryButton');
        storyAddButton.addEventListener('click', () => addStory(null));

        function addStory(story) {
            const newStory = storyRowTemplate.content.cloneNode(true);
            newStory.id = `story-${storyRow.children.length}`;
            storyRow.appendChild(newStory);

            const campaign = formEditor.object;
            const newStoryAdded = storyRow.lastElementChild;
            const storyTrigger = newStoryAdded.querySelector('#locationStoryTrigger');
            const storyText = newStoryAdded.querySelector('#locationStoryText');

            const selectedLocation = campaign.locations.find((loc) => loc.location.id == locationSelection.value);
            if (selectedLocation === undefined) return;

            if (story) {
                storyTrigger.value = story.trigger;
                storyText.value = story.story;
            } else {
                story = new Dashboard.Story(0, '', '');
                selectedLocation.stories.push(story);
                formEditor.validate();
            }

            storyTrigger.addEventListener('input', () => {
                story.trigger = storyTrigger.value;
                formEditor.validate();
            });

            expandTextarea(storyText)
            storyText.addEventListener('input', () => {
                story.story = storyText.value;
                formEditor.validate();
            });

            const removeStoryButton = newStoryAdded.querySelector('#removeStoryButton');
            removeStoryButton.addEventListener('click', () => {
                newStoryAdded.remove();

                selectedLocation.stories = selectedLocation.stories.filter((locStory) => locStory !== story);
                formEditor.validate();
            });
        }

        const addButton = document.getElementById('addLocationButton');
        addButton.addEventListener('click', () => {
            const openEnemySearch = (event) => {
                const type = event.detail.type;

                if (type === 'entries') {
                    const entries = event.detail.data;

                    for (const entry of entries) {
                        entry.card.querySelector('button[data-action="add"]').addEventListener('click', (event) => {
                            event.preventDefault();

                            // If not exists add to list
                            const locationId = entry.id;
                            let location = formEditor.object.locations.find((campLoc) => campLoc.location.id == locationId);

                            if (location) {
                                return Swal.fire({
                                    icon: 'warning',
                                    toast: true,
                                    position: 'top-end',
                                    text: 'This locations already exists in this campaign!',
                                    showConfirmButton: false,
                                    timer: 2500
                                });
                            }
                            location = entry;

                            const camLoc = { start: false, finish: false, stories: [], paths: [], conditions: [], location: location};
                            formEditor.object.locations.push(camLoc);

                            const option = document.createElement('option');
                            option.value = location.id;
                            option.text = `#${location.id} - ${location.title}`;

                            locationSelection.appendChild(option);

                            // Add to path to list
                            for (const pathRow of document.querySelectorAll('.pathRow')) {
                                const toSelect = pathRow.querySelector('#locationPathTo');
                                toSelect.appendChild(option.cloneNode(true));
                            }

                            Dashboard.Modal.closeOpenedModal();
                        });
                    }
                }
            }

            document.addEventListener('searchDataLoaded', openEnemySearch);
            Dashboard.Modal.openSearch("dungeon/locations/locationsSearch.html", "locations")
                .then((modal) => {
                    modal.setOnClose(() => {
                        document.removeEventListener('searchDataLoaded', openEnemySearch);
                    });
                })
        });

        const removeButton = document.getElementById('removeLocationButton');
        removeButton.addEventListener('click', () => {
            const locationId = locationSelection.value;
            const location = formEditor.object.locations.find((campLoc) => campLoc.location.id == locationId);

            if (location === undefined) return;

            const index = formEditor.object.locations.indexOf(location);
            formEditor.object.locations.splice(index, 1);

            locationSelection.remove(locationSelection.selectedIndex);
            locationSelection.selectedIndex = 0;

            const pathRows = document.querySelectorAll('.pathRow');
            pathRows.forEach((pathRow) => pathRow.remove());

            const conditionRows = document.querySelectorAll('.conditionRow');
            conditionRows.forEach((conditionRow) => conditionRow.remove());

            const storyRows = document.querySelectorAll('.storyRow');
            storyRows.forEach((storyRow) => storyRow.remove());

            const locationStart = document.getElementById('locationStart');
            locationStart.checked = false;

            const locationFinish = document.getElementById('locationFinish');
            locationFinish.checked = false;

            formEditor.validate();
        });

        const locationSelection = document.getElementById('locationList');
        locationSelection.addEventListener('change', () => {
            const locationId = locationSelection.value;
            const location = formEditor.object.locations.find((campLoc) => campLoc.location.id == locationId);

            if (location === undefined)  return;
            console.log("Selected: ", location);

            // Switches
            const locationStart = document.getElementById('locationStart');
            locationStart.checked = location.start;

            const locationFinish = document.getElementById('locationFinish');
            locationFinish.checked = location.finish;

            // -- Paths
            const pathRows = document.querySelectorAll('.pathRow');
            pathRows.forEach((pathRow) => pathRow.remove());
            location.paths.forEach(addPath)

            // Remove all conditions
            const conditionRows = document.querySelectorAll('.conditionRow');
            conditionRows.forEach((conditionRow) => conditionRow.remove());
            location.conditions.forEach(addCondition);

            // Remove all stories
            const storyRows = document.querySelectorAll('.storyRow');
            storyRows.forEach((storyRow) => storyRow.remove());
            location.stories.forEach(addStory);
        });

        const startingLocation = document.getElementById('locationStart');
        startingLocation.addEventListener('change', () => {
            const locationId = locationSelection.value;
            const location = formEditor.object.locations.find((campLoc) => campLoc.location.id == locationId);

            if (location === undefined) return;
            location.start = startingLocation.checked;
            formEditor.validate();
        });

        const finishingLocation = document.getElementById('locationFinish');
        finishingLocation.addEventListener('change', () => {
            const locationId = locationSelection.value;
            const location = formEditor.object.locations.find((campLoc) => campLoc.location.id == locationId);

            if (location === undefined) return;
            location.finish = finishingLocation.checked;
            formEditor.validate();
        });

        {% if campaignId is not None %}
            formEditor.queryData((data) => {
                const campaign = Dashboard.Campaign.fromJSON(data);

                {#const itemImage = document.getElementById('itemImage');#}
                {#itemImage.src = item.url;#}

                const entryTitle = document.getElementById('entryTitle');
                entryTitle.value = campaign.title;

                const entryDescription = document.getElementById('entryDescription');
                entryDescription.value = campaign.description;

                for (const campLoc of campaign.locations) {
                    const loc = campLoc.location;

                    const option = document.createElement('option');
                    option.value = loc.id;
                    option.text = `#${loc.id} - ${loc.title}`;

                    locationSelection.appendChild(option);
                }

                return campaign;
            }, () => {
                formEditor.validate();
            });
        {% else %}
            formEditor.object = new Dashboard.Campaign(null, '', '', [], []);
            formEditor.validate();
        {% endif %}

        // ----

        const cancelButton = document.getElementById('cancelButton');
        cancelButton.addEventListener('click', () => {
            Swal.fire({
                title: '{% trans 'Are you sure?' %}',
                text: '{% trans 'You will loose all your changes!' %}',
                icon: 'warning',
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonColor: Dashboard.Color.RED.lighten(0.2).toRGB(),
                cancelButtonColor: Dashboard.Color.GREY.lighten(0.2).toRGB(),
                confirmButtonText: '{% trans 'Yes, cancel!' %}',
                cancelButtonText: '{% trans 'No, keep editing' %}',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'campaignViewer' %}";
                }
            });
        });

        const saveButton = document.getElementById('saveButton');
        saveButton.addEventListener('click', (event) => {
            event.preventDefault();

            // Check form validity
            const form = document.getElementById('workbench');
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            if (formValidator.isValidating()) {
                return Swal.fire({
                    icon: 'warning',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Entry object is validating, please wait!" %}',
                    showConfirmButton: false,
                    timer: 2500
                });
            }

            if (!formEditor.isValid()) {
                return Swal.fire({
                    icon: 'error',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Entry object is not valid!" %}',
                    showConfirmButton: false,
                    timer: 2500
                });
            }

            Notiflix.Block.circle("#workbench", 'Saving...');

            const entryIdInput = form.querySelector('#entryId');
            const entryId = entryIdInput.value;

            let url = "{% url 'apiQueryTable' table="campaigns" %}";
            {% if partId is not undefined %}
                url = "{% url 'apiQueryTableID' table="campaigns" id=0 %}".replace(0, entryId);
            {% endif %}

            formEditor.saveData(() => {
                Swal.fire({
                    icon: 'success',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Success, entry object saved!" %}',
                    showConfirmButton: false,
                    timer: 2500
                })

                setTimeout(() => {
                    window.location.href = "{% url 'campaignViewer' %}";
                }, 1000);

                Notiflix.Block.remove("#workbench");
            }, (responseText) => {
                Notiflix.Block.remove("#workbench");

                Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 10000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                        toast.addEventListener('click', () => {
                            const data = JSON.parse(responseText);
                            const string = JSON.stringify(data, null, 4);

                            Swal.fire({
                                text: string,
                                customClass: {
                                    htmlContainer: 'text-start text-pre'
                                },
                                showConfirmButton: false,
                            });
                        })
                    }
                }).fire({
                    icon: "error",
                    title: '{% trans "Error, saving failed! Click for more information." %}'
                });
            });
        });
    </script>
{% endblock javascripts %}