{% extends "layouts/base.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block title %} Dungeon - Enemies - Editor {% endblock %}

{% block stylesheets %}
    <!-- Empty -->
{% endblock stylesheets %}

{% block content %}
    <input type="hidden" value="{{ csrf_token }}" id="csrftoken" readonly/>
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4 mb-0">{% trans 'Enemy Workbench' %}</h2>
            <p class="mb-0">{% trans 'Create or edit dungeon enemies' %}</p>
        </div>
    </div>

    <form id="workbench">
        <div class="row">
            <div class="col-5" id="enemyInformation">
                <div class="row flex-column h-100">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="actionsError">
                        </div>
                    </div>

                    <div class="col-12 flex-fill mb-4">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0">
                                <h2 class="h5">{% trans 'Information:' %}</h2>
                            </div>

                            <div class="card-body p-0 formLoading">
                                <div class="row">
                                    <div class="col-4 align-self-center py-3">
                                        <img src="{% static 'img/Zombie.png' %}" alt="{% trans 'Image' %}" class="img-fluid rounded">
                                    </div>

                                    <div class="col-8 align-self-center">
                                        <div class="py-2">
                                            <h2 class="h5 mb-2">
                                                <label class="visually-hidden" for="enemyTitle">Title</label>
                                                <div class="input-group input-group">
                                                    <div class="input-group-text">{% trans 'Title' %}</div>
                                                    <input type="text" class="form-control" id="enemyTitle" placeholder="{% trans 'Title' %}" >
                                                </div>
                                            </h2>

                                            <div class="d-flex align-items-center">
                                                <div class="row gy-2 gx-3 align-items-center">
                                                    <div class="col-4">
                                                        <label class="visually-hidden" for="enemyId">Id</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-text">{% trans 'ID' %}</div>
                                                            <input type="text" class="form-control" id="enemyId" placeholder="Enemy Id" value="{{ enemyId|default:0 }}" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="col-8">
                                                        <label class="visually-hidden" for="enemyTag">Tag</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-text">{% trans 'Tag' %}</div>
                                                            <input type="text" class="form-control" id="enemyTag" placeholder="{% trans 'Tag' %}" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="align-items-center mt-2">
                                                <label for="enemyDescription" class="form-label visually-hidden">{% trans 'Description' %}</label>
                                                <textarea class="form-control" id="enemyDescription" rows="3" placeholder="{% trans 'Description' %}"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label class="visually-hidden" for="baseInitiative">{% trans 'Base Initiative' %}</label>
                                        <div class="input-group">
                                            <div class="input-group-text">INI</div>
                                            <input type="text" class="form-control" id="baseInitiative" placeholder="{% trans 'Initiative' %}">
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label class="visually-hidden" for="baseHealth">{% trans 'Base Health' %}</label>
                                        <div class="input-group">
                                            <div class="input-group-text">HP</div>
                                            <input type="text" class="form-control" id="baseHealth" placeholder="{% trans 'Health' %}">
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label class="visually-hidden" for="baseDefence">{% trans 'Base Defence' %}</label>
                                        <div class="input-group">
                                            <div class="input-group-text">DEF</div>
                                            <input type="text" class="form-control" id="baseDefence" placeholder="{% trans 'Defence' %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card card-body border-0 shadow">
                            <div class="row justify-content-evenly">
                                <div class="col-lg-6 col-12">
                                    <button class="btn btn-red-100 animate-up-2 w-100" type="reset" id="cancelButton">
                                        {% trans 'Cancel' %}
                                    </button>
                                </div>

                                <div class="col-lg-6 col-12 mt-2 mt-lg-0">
                                    <button class="btn btn-green-100 animate-up-2 w-100" type="submit" id="saveButton">
                                        {% if enemyId is not None %}
                                            {% trans 'Save' %}
                                        {% else %}
                                            {% trans 'Create' %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4" id="enemyActions">
                <div class="row flex-column h-100">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="actionsError">
                        </div>
                    </div>

                    <div class="col-12 flex-fill">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0 mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="h5 m-0">{% trans 'Actions:' %}</h2>

                                    <div class="col-6 mb-2">
                                        <div class="btn-toolbar justify-content-end">
                                            <a href="javascript:void(0)" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" id="addAction">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                {% trans 'Add' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body p-0 cards-scroll formLoading">
                                <div class="row gap-1" id="enemyActionsList">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" id="enemyEffects">
                <div class="row flex-column h-100">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="effectsError">
                        </div>
                    </div>

                    <div class="col-12 flex-fill">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0 mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="h5 m-0">{% trans 'Effects:' %}</h2>

                                    <div class="col-6 mb-2">
                                        <div class="btn-toolbar justify-content-end">
                                            <a href="javascript:void(0)" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" id="addEffect">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                {% trans 'Add' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body p-0 formLoading">
                                <div class="row flex-column gap-1" id="enemyEffectsList">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    <script async>
        const csrfToken = document.querySelector('#csrftoken').value;

        // ---- | Urls

        const allUrl = "{% url 'apiQueryTable' table="enemies" %}";
        const entryUrl = "{% url 'apiQueryTableID' table="enemies" id=enemyId %}";
        const validateUrl = "{% url 'apiValidateTable' table="enemy" %}";

        // ---- | Data

        const formRoot = document.getElementById('workbench');
        const formValidator = new Dashboard.FormValidator(formRoot, validateUrl);
        const formEditor = new Dashboard.FormEditor(formRoot, entryUrl, formValidator);

        const enemyTitle = formRoot.querySelector('#enemyTitle');
        enemyTitle.addEventListener('input', () => {
            formEditor.object.title = enemyTitle.value;
            formEditor.validate();
        });

        const enemyTag = formRoot.querySelector('#enemyTag');
        enemyTag.addEventListener('input', () => {
            formEditor.object.tag = enemyTag.value;
            formEditor.validate();
        });

        const enemyDescription = formRoot.querySelector('#enemyDescription');
        enemyDescription.addEventListener('input', () => {
            formEditor.object.description = enemyDescription.value;
            formEditor.validate();
        });

        const baseInitiative = formRoot.querySelector('#baseInitiative');
        baseInitiative.addEventListener('input', () => {
            formEditor.object.baseInitiative = baseInitiative.value;
            formEditor.validate();
        });

        const baseHealth = formRoot.querySelector('#baseHealth');
        baseHealth.addEventListener('input', () => {
            formEditor.object.baseHealth = baseHealth.value;
            formEditor.validate();
        });

        const baseDefence = formRoot.querySelector('#baseDefence');
        baseDefence.addEventListener('input', () => {
            formEditor.object.baseDefence = baseDefence.value;
            formEditor.validate();
        });
        
        const addActionButton = document.querySelector('#addAction');
        addActionButton.addEventListener('click', () => {
            let promise = Dashboard.Modal.openSearch("mechanics/action/actionSearch.html", "actions");
            promise.then((result) => {
                console.log(result);
            });
        });

        formValidator.setOnStart(() => {

        })

        formValidator.setOnSuccess(() => {

        })

        formValidator.setOnFail(() => {

        })

        // On searchDataLoaded event
        document.addEventListener('searchDataLoaded', (event) => {
            const type = event.detail.type;

            const warn = document.createElement('div');
            warn.id = 'warn';
            warn.classList.add('alert', 'alert-warning', 'text-center');
            warn.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> All actions used.';

            if (type === 'actions') {
                const actions = event.detail.data;

                for (const action of actions) {
                    let removed = false;
                    formEditor.getObject().actions.forEach((entry) => {
                        removed = removed || entry.id === action.id;
                    });

                    if (removed) {
                        action.card.remove();
                        continue;
                    }

                    action.card.querySelector('button[data-action="add"]').addEventListener('click', (event) => {
                        event.preventDefault();

                        // Add to list
                        const enemyActionsList = document.getElementById('enemyActionsList');
                        const actionCol = document.createElement('div');
                        actionCol.classList.add('col-12');

                        actionCol.appendChild(action.toCard(true, (event, id) => {
                            event.preventDefault();

                            enemy.actions = enemy.actions.filter(action => action.id !== id);
                            actionCol.remove();
                        }));
                        enemyActionsList.appendChild(actionCol);

                        // Add to object
                        const enemy = formEditor.getObject();
                        enemy.actions.push(action);

                        action.card.remove();
                    });
                }
            }
        });

        {% if enemyId is not None %}
            formEditor.queryData((data) => {
                const enemy = Dashboard.Enemy.fromJSON(data);

                enemyTitle.value = enemy.title;
                enemyTag.value = enemy.tag;
                enemyDescription.value = enemy.description;
                baseInitiative.value = enemy.baseInitiative;
                baseHealth.value = enemy.baseHealth;
                baseDefence.value = enemy.baseDefence;

                const enemyActionsList = document.getElementById('enemyActionsList');
                enemy.actions.forEach((action) => {
                    const actionCol = document.createElement('div');
                    actionCol.classList.add('col-12');

                    actionCol.appendChild(action.toCard(true, (event, id) => {
                        event.preventDefault();

                        enemy.actions = enemy.actions.filter(action => action.id !== id);
                        actionCol.remove();
                    }));
                    enemyActionsList.appendChild(actionCol);
                });

                const enemyEffectsList = document.getElementById('enemyEffectsList');
                enemy.effects.forEach((effect) => {
                    const effectCol = document.createElement('div');
                    effectCol.classList.add('col-12');

                    effectCol.appendChild(effect.toCard(true, (event, id) => {
                        event.preventDefault();

                        enemy.effects = enemy.effects.filter(effect => effect.id !== id);
                        effectCol.remove();
                    }));
                    enemyEffectsList.appendChild(effectCol);
                });

                return enemy;
            });
        {% endif %}

        // ----

        const cancelButton = document.getElementById('cancelButton');
        cancelButton.addEventListener('click', () => {
            Swal.fire({
                title: '{% trans 'Are you sure?' %}',
                text: '{% trans 'You will loose all your changes!' %}',
                icon: 'warning',
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonColor: Dashboard.Color.RED.lighten(0.2).toRGB(),
                cancelButtonColor: Dashboard.Color.GREY.lighten(0.2).toRGB(),
                confirmButtonText: '{% trans 'Yes, cancel!' %}',
                cancelButtonText: '{% trans 'No, keep editing' %}',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'enemyViewer' %}";
                }
            });
        });

        const saveButton = document.getElementById('saveButton');
        saveButton.addEventListener('click', (event) => {
            event.preventDefault();

            // Check form validity
            const form = document.getElementById('workbench');
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            const Notiflix = window['Notiflix'];
            Notiflix.Block.circle("#workbench", 'Saving...');

            // Check object validity
            formEditor.validate(
                () => {
                    console.log("Validating");
                },
                () => {
                    console.log("Valid");
                },
                () => {
                    console.log("Invalid");
                }
            );

            {#const enemyIdInput = form.querySelector('#enemyID');#}
            {#const enemyId = enemyIdInput.value;#}
            {##}
            {#let url = "{% url 'apiQueryTable' table="parts" %}";#}
            {#{% if enemyId is not undefined %}#}
            {#    url = "{% url 'apiQueryTableID' table="enemies" id=0 %}".replace(0, enemyId);#}
            {#{% endif %}#}
        });
    </script>
{% endblock javascripts %}