{% extends "layouts/base.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block title %} Dungeon - Enemies - Editor {% endblock %}

{% block stylesheets %}
    <!-- Empty -->
{% endblock stylesheets %}

{% block content %}
    <input type="hidden" value="{{ csrf_token }}" id="csrftoken" readonly/>
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4 mb-0">{% trans 'Enemy Workbench' %}</h2>
            <p class="mb-0">{% trans 'Create or edit dungeon enemies' %}</p>
        </div>
    </div>

    <form id="enemyWorkbench">
        <div class="row">
            <div class="col-5" id="enemyInformation">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill mb-4">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0">
                                <h2 class="h5">{% trans 'Enemy Information:' %}</h2>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <img src="{% static 'img/imgPlaceholder.png' %}" alt="Enemy Image" class="img-fluid rounded">
                                    </div>

                                    <div class="col-8 align-self-center">
                                        <div class="py-2">
                                            <h2 class="h5 mb-2">
                                                <label class="visually-hidden" for="enemyTitle">Title</label>
                                                <div class="input-group input-group">
                                                    <div class="input-group-text">Title</div>
                                                    <input type="text" class="form-control" id="enemyTitle" placeholder="Enemy Title" >
                                                </div>
                                            </h2>

                                            <div class="d-flex align-items-center">
                                                <div class="row gy-2 gx-3 align-items-center">
                                                    <div class="col-6">
                                                        <label class="visually-hidden" for="enemyId">Id</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-text">ID</div>
                                                            <input type="text" class="form-control" id="enemyId" placeholder="Enemy Id" value="{{ enemyId|default:0 }}" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <label class="visually-hidden" for="enemyTag">Tag</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-text">Tag</div>
                                                            <input type="text" class="form-control" id="enemyTag" placeholder="Enemy Tag" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="align-items-center mt-2">
                                                <label for="enemyDescription" class="form-label visually-hidden">Description</label>
                                                <textarea class="form-control" id="enemyDescription" rows="3" placeholder="Enemy Description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label class="visually-hidden" for="baseInitiative">Base Initiative</label>
                                        <div class="input-group">
                                            <div class="input-group-text">Base Initiative</div>
                                            <input type="text" class="form-control" id="baseInitiative" placeholder="Initiative">
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label class="visually-hidden" for="baseHealth">Base Health</label>
                                        <div class="input-group">
                                            <div class="input-group-text">Base Health</div>
                                            <input type="text" class="form-control" id="baseHealth" placeholder="Health">
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label class="visually-hidden" for="baseDefence">Base Defence</label>
                                        <div class="input-group">
                                            <div class="input-group-text">Base Defence</div>
                                            <input type="text" class="form-control" id="baseDefence" placeholder="Defence">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card card-body border-0 shadow">
                            <div class="row justify-content-evenly">
                                <div class="col-lg-6 col-12">
                                    <button class="btn btn-red-100 animate-up-2 w-100" type="reset" id="cancelButton">
                                        {% trans 'Cancel' %}
                                    </button>
                                </div>

                                <div class="col-lg-6 col-12 mt-2 mt-lg-0">
                                    <button class="btn btn-green-100 animate-up-2 w-100" type="submit" id="saveButton">
                                        {% if enemyId is not None %}
                                            Save
                                        {% else %}
                                            Create
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4" id="enemyActions">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0 mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="h5 m-0">{% trans 'Enemy Actions:' %}</h2>

                                    <div class="col-6 mb-2">
                                        <div class="btn-toolbar justify-content-end">
                                            <a href="javascript:void(0)" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" id="addAction">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                {% trans 'Add Action' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body p-0 cards-scroll">
                                <div class="row" id="enemyActionsList">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" id="enemyEffects">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0 mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="h5 m-0">{% trans 'Enemy Effects:' %}</h2>

                                    <div class="col-6 mb-2">
                                        <div class="btn-toolbar justify-content-end">
                                            <a href="javascript:void(0)" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" id="addEffect">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                {% trans 'Add Effect' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body p-0">
                                <div class="row" id="enemyEffectsList">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    <script async>
        const csrfToken = document.querySelector('#csrftoken').value;

        // ---- | Urls

        const apiUrlSingle = "{% url 'apiQueryTableID' table="enemies" id=0 %}";

        // ---- | Data

        const formRoot = document.getElementById('enemyWorkbench');
        const formEditor = new Dashboard.FormEditor(formRoot);

        const enemyTitle = formRoot.querySelector('#enemyTitle');
        enemyTitle.addEventListener('input', () => {
            formEditor.getObject().title = enemyTitle.value;
        });

        const enemyTag = formRoot.querySelector('#enemyTag');
        enemyTag.addEventListener('input', () => {
            formEditor.getObject().tag = enemyTag.value;
        });

        const enemyDescription = formRoot.querySelector('#enemyDescription');
        enemyDescription.addEventListener('input', () => {
            formEditor.getObject().description = enemyDescription.value;
        });

        const baseInitiative = formRoot.querySelector('#baseInitiative');
        baseInitiative.addEventListener('input', () => {
            formEditor.getObject().baseInitiative = baseInitiative.value;
        });

        const baseHealth = formRoot.querySelector('#baseHealth');
        baseHealth.addEventListener('input', () => {
            formEditor.getObject().baseHealth = baseHealth.value;
        });

        const baseDefence = formRoot.querySelector('#baseDefence');
        baseDefence.addEventListener('input', () => {
            formEditor.getObject().baseDefence = baseDefence.value;
        });
        
        const addActionButton = document.querySelector('#addAction');
        addActionButton.addEventListener('click', () => {
            const actionSearch = new Dashboard.Search("actions");
            actionSearch.open("mechanics/action/actionSearch.html", (action) => {
                {#formEditor.getObject().actions.push(action);#}
            });
        });

        {% if enemyId is not None %}
            formEditor.queryData(apiUrlSingle.replace(0, {{ enemyId }}), (data) => {
                const enemy = Dashboard.Enemy.fromJSON(data);

                enemyTitle.value = enemy.title;
                enemyTag.value = enemy.tag;
                enemyDescription.value = enemy.description;
                baseInitiative.value = enemy.baseInitiative;
                baseHealth.value = enemy.baseHealth;
                baseDefence.value = enemy.baseDefence;

                const enemyActionsList = document.getElementById('enemyActionsList');
                enemy.actions.forEach((action, index) => {
                    const actionCol = document.createElement('div');
                    actionCol.classList.add('col-12');

                    if (index < enemy.actions.length - 1) {
                        actionCol.classList.add('mb-2');
                    }

                    actionCol.appendChild(action.toCard(true));
                    enemyActionsList.appendChild(actionCol);
                });

                const enemyEffectsList = document.getElementById('enemyEffectsList');
                enemy.effects.forEach((effect, index) => {
                    const effectCol = document.createElement('div');
                    effectCol.classList.add('col-12');

                    if (index < enemy.effects.length - 1) {
                        effectCol.classList.add('mb-2');
                    }

                    effectCol.appendChild(effect.toCard(false));
                    enemyEffectsList.appendChild(effectCol);
                });

                formRoot.querySelectorAll(".caret").forEach(toggle => {
                    toggle.addEventListener("click", () => {
                        const nested = toggle.parentElement.querySelector(".nested");
                        nested.classList.toggle("active");
                        toggle.classList.toggle("caret-down");
                    });
                });

                // Get all buttons inside div that have data-action remove
                const removeButtons = document.querySelectorAll('button[data-action="remove"]');
                removeButtons.forEach(button => {
                    button.addEventListener('click', (event) => {
                        event.preventDefault();

                        // Get parent div with class card
                        const parent = button.closest('.card');
                        parent.remove();

                        // Remove from object
                        const id = button.getAttribute('data-id');
                        const type = button.getAttribute('data-type');

                        if (type === 'action') {
                            enemy.actions = enemy.actions.filter(action => action.id !== parseInt(id));
                        }

                        if (type === 'effect') {
                            enemy.effects = enemy.effects.filter(effect => effect.id !== parseInt(id));
                        }

                        console.log("FormEditor | Removing action with id: " + id + " from enemy");
                    });
                });

                return enemy;
            });
        {% endif %}

        // ----

        const cancelButton = document.getElementById('cancelButton');
        cancelButton.addEventListener('click', () => {
            Swal.fire({
                title: '{% trans 'Are you sure?' %}',
                text: '{% trans 'You will loose all your changes!' %}',
                icon: 'warning',
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonColor: Dashboard.Color.RED.lighten(0.2).toRGB(),
                cancelButtonColor: Dashboard.Color.GREY.lighten(0.2).toRGB(),
                confirmButtonText: '{% trans 'Yes, cancel!' %}',
                cancelButtonText: '{% trans 'No, keep editing' %}',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'enemyViewer' %}";
                }
            });
        });

        const saveButton = document.getElementById('saveButton');
        saveButton.addEventListener('click', (event) => {
            event.preventDefault();

            // Stringify the object and add pretty print
            const enemy = formEditor.getObject();
            const enemyJSON = JSON.stringify(enemy, null, 4);
            console.log(enemyJSON);

            // Check form validity
            const form = document.getElementById('enemyWorkbench');
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            const Notiflix = window['Notiflix'];
            Notiflix.Block.circle("#enemyWorkbench", 'Saving...');

            const enemyIdInput = form.querySelector('#enemyID');
            const enemyId = enemyIdInput.value;

            let url = "{% url 'apiQueryTable' table="parts" %}";
            {% if enemyId is not undefined %}
                url = "{% url 'apiQueryTableID' table="enemies" id=0 %}".replace(0, enemyId);
            {% endif %}

        });
    </script>
{% endblock javascripts %}