{% load static %}
{% load i18n %}

<div class="row">
    <div class="col-4 align-self-center">
        <img src="{% static 'img/imgLoading.png' %}" data-src="{{ url }}" alt="Entry Image" class="lazyload img-fluid rounded">
    </div>

    <div class="col-8">
        <div class="py-2">
            <h2 class="h5 mb-2">{{ title }}</h2>

            <div class="d-flex align-items-center tags">
                <span class="badge bg-secondary me-1 rounded-1">Id: #{{ id }}</span>
                <span class="badge bg-secondary me-1 rounded-1">{% trans 'Tag:' %} {{ tag }}</span>
            </div>

            <div class="d-flex align-items-center mt-2">
                {% if description %}
                    <span class="font-small">{{ description }}</span>
                {% else %}
                    <span class="font-small">{% trans 'No description available' %}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-12">
        <h5 class="mt-2 mb-0">{% trans 'Attributes:' %}</h5>

        <div class="accordion accordion-flush" id="entryAttributes" style="max-height: 65vh; overflow: auto;">
            <div class="accordion-item">
                <div class="accordion-body">
                    <i class="fa-solid fa-heart-circle-plus"></i>
                    <span>{% trans 'Base Health' %}:</span>
                    {{ baseHealth }}
                </div>
            </div>
            
            <div class="accordion-item">
                <div class="accordion-body">
                    <i class="fa-solid fa-shield-halved"></i>
                    <span>{% trans 'Base Defence' %}:</span>
                    {{ baseDefence }}
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-actions" aria-expanded="false" aria-controls="flush-actions">
                        <span class="badge bg-secondary me-1 rounded-1">{{ actions|length }}</span> {% trans 'Actions' %}
                    </button>
                </h2>

                <div id="flush-actions" class="accordion-collapse collapse" data-bs-parent="#entryAttributes">
                    <div class="accordion-body card-list" id="actionsCard">
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-effects" aria-expanded="false" aria-controls="flush-effects">
                        <span class="badge bg-secondary me-1 rounded-1">{{ effects|length }}</span> {% trans 'Effects' %}
                    </button>
                </h2>

                <div id="flush-effects" class="accordion-collapse collapse" data-bs-parent="#entryAttributes">
                    <div class="accordion-body card-list" id="effectsCard">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="entryDataScript">
    let actionsJSON = "{{ actions|safe|escapejs }}";
    actionsJSON = actionsJSON.replace(/&quot;/g, '"');
    actionsJSON = actionsJSON.replace(/'/g, '"');
    actionsJSON = actionsJSON.replace(/None/g, 'null');
    
    const actionsCards = document.getElementById('actionsCard');
    if (actionsJSON === 'null' || actionsJSON === '[]') {
        actionsCards.innerHTML = `
            <div class="card-header px-3 py-2 sticky-top bg-gray-100">
                No Actions
            </div>
        `;
    } else {
        const actions = JSON.parse(actionsJSON);
        actions.forEach(action => {
            const actionCard = new Dashboard.Action.fromJSON(action.action);
            actionsCards.appendChild(actionCard.toCard(true, false, false));
        });
    }
    
    let effectsJSON = '{{ effects|safe|escapejs }}';
    effectsJSON = effectsJSON.replace(/&quot;/g, '"');
    effectsJSON = effectsJSON.replace(/'/g, '"');
    effectsJSON = effectsJSON.replace(/None/g, 'null');

    const effectsCards = document.getElementById('effectsCard');
    if (effectsJSON === 'null' || effectsJSON === '[]') {
        effectsCards.innerHTML = `
            <div class="card-header px-3 py-2 sticky-top bg-gray-100">
                No Effects
            </div>
        `;
    } else {
        const effects = JSON.parse(effectsJSON);
        effects.forEach(effect => {
            const effectCard = new Dashboard.Effect.fromJSON(effect.effect);
            effectsCards.appendChild(effectCard.toCard(true, false, false));
        });
    }
</script>