{% extends "layouts/../layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
    <!-- Custom styles -->
    <style>
    #card {
        margin: 10px;
    }
    </style>
{% endblock stylesheets %}

{% block content %}
    <input type="text" id="actionId" value="4">
    <button id="generate">Generate</button>
    <div id="card"></div>
{% endblock content %}

{% block javascripts %}
    <!-- Custom javascripts -->
    <script >
    function generateCard(actionId) {
        // remove previous card
        var card = document.getElementById("card");
        while (card.firstChild) {
            card.removeChild(card.firstChild);
        }

        var height = 880;
        var width = 630;
        {#var s = Snap("#testCard");#}
        {#var rect = s.rect(0, 0, width, height);#}
        {#rect.attr({#}
        {#    fill: "rgba(186,218,85,0)",#}
        {#    stroke: "#000",#}
        {#    strokeWidth: 5#}
        {# });#}
        {#var text = s.text(10, 50, "Hello, Worldf jdhfkjhdsufhsdufhsd fkjdhsfkj hsdkjf hsdkjf hdkjhf sdkjf hds!");#}
        {#text.attr({#}
        {#    fontFamily: "Arial",#}
        {#    fontSize: 50,#}
        {#    fill: "#000",#}
        {#    "text-anchor":"start",#}
        {# });#}

        fetch('http://localhost:8080/actions/' + actionId + "/card", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Basic ' + btoa("shadefa11en" + ":" + "ourPassword").toString('base64')
            }
        }).then(response => response.json())
            .then(action => {
                console.log(action);

                // check if status is 200
                if (action.status == "BAD_REQUEST" || action.status == "NOT_FOUND") {
                    console.log("Error: ", action.message);
                    return;
                }

                var gradient = new SVG.Color(action.color).to('#fff');
                var black = '#000';
                var color = gradient.at(0).toHex();
                var lightColor = gradient.at(0.9).toHex();

                var draw = SVG().addTo('#card').size(width, height);

                var border = draw.rect(width, height).radius(20).attr({fill: black});
                var backgroundBorder = draw.rect(width - 5, height - 5).radius(18).attr({fill: color}).move(2.5, 2.5);
                var background = draw.rect(width - 10, height - 10).radius(18).attr({fill: lightColor}).move(5, 5);

                // icon at right left corner
                var source = draw.rect(100, 100).radius(20).attr({fill: black}).move(width - 100, 0);
                var sourceBackground = draw.rect(95, 95).radius(18).attr({fill: lightColor}).move(width - 97.5, 2.5);

                // print action.icon as image to source background
                var image = draw.image(action.icon + "?size=90&radius=15").move(width - 95, 5);

                var textWidth = width - 400;
                let currentHeightOffset = 20;
                console.log("init:", currentHeightOffset);

                // title
                var title = draw.text(function (add) {
                    let prevLength = 0;
                    let split = action.title.split(' ');
                    for (let i = 0; i < split.length; i += 1) {
                        let char = split[i];
                        let newline = false;
                        if (add.length() - prevLength > textWidth) {
                            {#console.log("new line:", add);#}
                            prevLength = add.length();
                            newline = true;
                        }
                        {#console.log(char);#}
                        {#console.log(add, add.length());#}
                        if (newline) {
                            add.tspan(char).newLine();
                        } else {
                            add.tspan(' ' + char);
                        }
                    }
                });
                title.font({fill: black, size: 50, family: 'Helvetica', weight: 'bold'}).move(20, currentHeightOffset);
                currentHeightOffset += title.bbox().height + 20;
                console.log("after tit:", currentHeightOffset);

                // description
                var description = draw.text(function (add) {
                    let prevLength = 0;
                    let descSplit = action.description.split(' ');
                    for (let i = 0; i < descSplit.length; i += 1) {
                        let char = descSplit[i];
                        let newline = false;
                        if (add.length() - prevLength > textWidth) {
                            {#console.log("new line:", add);#}
                            prevLength = add.length();
                            newline = true;
                        }
                        {#console.log(char);#}
                        {#console.log(add, add.length());#}
                        if (newline) {
                            add.tspan(char).newLine();
                        } else {
                            add.tspan(' ' + char);
                        }
                    }
                });
                description.font({fill: black, size: 30, family: 'Helvetica'}).move(20, currentHeightOffset);
                currentHeightOffset += description.bbox().height;
                console.log("after desc:", currentHeightOffset);

                // line after description
                var line = draw.line(20, currentHeightOffset + 20, width - 20, currentHeightOffset + 20).stroke({
                    width: 2,
                    color: black
                });
                currentHeightOffset += 60;

                function drawIcon(icon, name, value, x, y) {
                    let iconPath;

                    switch (icon) {
                        case "bow":
                            iconPath = "{% static 'img/card/feature/bow-svgrepo-com.svg' %}";
                            break;
                        case "tag":
                            iconPath = "{% static 'img/card/feature/tag-svgrepo-com.svg' %}";
                            break;
                        default:
                            iconPath = "{% static 'img/card/feature/bow-svgrepo-com.svg' %}";
                    }

                    draw.image(iconPath).move(x, y).size(50, 50);
                    let nameText = draw.text(name).font({fill: black, size: 20, family: 'Helvetica'}).move(x + 60, y);
                    let valueText = draw.text(value).font({fill: black, size: 30, family: 'Helvetica'}).move(x + 60, y+20);

                    let biggerLength = nameText.length() > valueText.length() ? nameText.length() : valueText.length();
                    return 50 + biggerLength + 30;
                }

                // movement
                if (action.movement != null) {
                    let currentWidthOffset = 20;
                    draw.text("Movement").font({fill: black, size: 40, family: 'Helvetica'}).move(20, currentHeightOffset);
                    currentHeightOffset += 60;
                    currentWidthOffset += drawIcon("bow", "Range", action.movement.range, currentWidthOffset, currentHeightOffset);
                    currentWidthOffset += drawIcon("tag", "Type", action.movement.type, currentWidthOffset, currentHeightOffset);
                    currentHeightOffset += 100;
                }

                // attack
                if (action.attack != null) {
                    draw.text("Attack").font({fill: black, size: 40, family: 'Helvetica'}).move(20, currentHeightOffset);
                    currentHeightOffset += 50;
                }

                // skill
                if (action.skill != null) {
                    draw.text("Skill").font({fill: black, size: 40, family: 'Helvetica'}).move(20, currentHeightOffset);
                    currentHeightOffset += 50;
                }

                // restoreCards
                if (action.restoreCards != null) {
                    draw.text("Restore Cards").font({fill: black, size: 40, family: 'Helvetica'}).move(20, currentHeightOffset);
                    currentHeightOffset += 50;
                }

            })
    }

    document.getElementById("generate").addEventListener("click", function () {
        var actionId = document.getElementById("actionId").value;
        generateCard(actionId);
    });

    generateCard(4);


    </script>
{% endblock javascripts %}
