{% extends "layouts/../layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
    <!-- Custom styles -->
{% endblock stylesheets %}

{% block content %}
    <input type="hidden" value="{{ csrf_token }}" id="csrftoken" readonly/>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title m-0">Trails Through Shadows</h4>
                                </div>

                                <div class="card-body">
                                    <p>
                                        Trails Through Shadows is a narrative tabletop game with hybrid parts - you need both our game and your phone/laptop/projector.
                                        It's heavily inspired by Gloomhaven and Forgotten Waters, which can be seen in the combat system and branching paths based
                                        on the player's choices in the narrative.
                                    </p>
                                    <p>
                                        The game is played in two parts - the physical board game and the digital companion app. The board game is where the players
                                        will move their characters, fight monsters, and make decisions that will affect the story. The companion app will provide the
                                        narrative, the branching paths, and the combat system.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title m-0">Project Sections / Links</h4>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="https://play.tts-game.fun" target="_blank" class="btn btn-primary btn-xs btn-block">play.tts-game.fun</a> is an online game visualizer that will show the game board and the narrative playground for player journey.
                                            You need to use this during the game to see what's happening in the game using your license key on any kind of device.
                                        </div>

                                        <div class="col-12">
                                            <a href="https://api.tts-game.fun" target="_blank" class="btn btn-primary btn-xs btn-block">api.tts-game.fun</a> is the API providing all the game logic, data and the narrative for the game.
                                            You can use this API to create your own game visualizer or play the game in any other way you want.
                                        </div>

                                        <div class="col-12">
                                            <a href="https://docs.tts-game.fun" target="_blank" class="btn btn-primary btn-xs btn-block">docs.tts-game.fun</a> is the documentation for the whole project.
                                            You can see there all the game rules, how to play the game all the game data and the API documentation.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title m-0">Project showcase illustration</h4>
                                </div>

                                <div class="card-body">
                                    <img src="{% static 'img/illustrations/game.png' %}" class="img-fluid" alt="Trails Through Shadows" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title m-0">Source Codes</h4>
                                </div>

                                <div class="card-body">
                                    All the source codes for the project are available on GitHub.
                                    You can find them on the following link <a href="https://github.com/Trails-Through-Shadows" target="_blank">Trails Through Shadows</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <!-- Custom javascripts -->
{% endblock javascripts %}
