__pycache__/
*.log
.idea/

# Database
*.db
*.sqlite3

# Node
node_modules/

# Environment
env
venv*
.venv
.env

# Compiled typescript libraries
static/js/**/*.js
static/js/**/*.d.ts
static/js/**/*.js.map
!static/js/volt.js

# Compiled less stylesheets
static/css/**/*.css
static/css/**/*.css.map
!static/css/volt.css
