{% load filters %}
{% load i18n %}

<div class="modal" id="modal" aria-hidden="true">
    <div class="modal-overlay" tabindex="-1" data-micromodal-close>
        <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title">
            <header class="modal-header border-0">
                <h2 class="modal-title" id="modal-title">
                    {% trans 'Create Effect' %}
                </h2>

                <button class="modal-close hvr-grow" aria-label="Close modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </header>

            <main class="modal-body pt-0 pb-0">
                <form id="effectWorkbench">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="alert alert-success fade show validation" role="alert" id="effectsValidation">
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <label for="effectType" class="form-label mb-1"> Effect Type </label>
                            <select class="form-control" id="effectType" required>
                                <option value="hidden" selected hidden disabled>Choose Type</option>
                                <option value="PUSH">PUSH</option>
                                <option value="PULL">PULL</option>
                                <option value="FORCED_MOVEMENT_RESISTANCE">FORCED_MOVEMENT_RESISTANCE</option>
                                <option value="POISON">POISON</option>
                                <option value="POISON_RESISTANCE">POISON_RESISTANCE</option>
                                <option value="FIRE">FIRE</option>
                                <option value="FIRE_RESISTANCE">FIRE_RESISTANCE</option>
                                <option value="BLEED">BLEED</option>
                                <option value="BLEED_RESISTANCE">BLEED_RESISTANCE</option>
                                <option value="STUN">STUN</option>
                                <option value="STUN_RESISTANCE">STUN_RESISTANCE</option>
                                <option value="CONFUSION">CONFUSION</option>
                                <option value="CONFUSION_RESISTANCE">CONFUSION_RESISTANCE</option>
                                <option value="GUIDANCE">GUIDANCE</option>
                                <option value="PROTECTION">PROTECTION</option>
                                <option value="VULNERABILITY">VULNERABILITY</option>
                                <option value="VULNERABILITY_RESISTANCE">VULNERABILITY_RESISTANCE</option>
                                <option value="HEAL">HEAL</option>
                                <option value="REGENERATION">REGENERATION</option>
                                <option value="EMPOWER">EMPOWER</option>
                                <option value="ENFEEBLE">ENFEEBLE</option>
                                <option value="ENFEEBLE_RESISTANCE">ENFEEBLE_RESISTANCE</option>
                                <option value="SPEED">SPEED</option>
                                <option value="SLOW">SLOW</option>
                                <option value="SLOW_RESISTANCE">SLOW_RESISTANCE</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-6">
                            <label for="effectTarget" class="form-label mb-1"> Effect Target </label>
                            <select class="form-control" id="effectTarget" required>
                                <option value="hidden" selected hidden disabled>Choose Target</option>
                                <option value="SELF">SELF</option>
                                <option value="ONE">ONE</option>
                                <option value="ALL">ALL</option>
                                <option value="ALL_ENEMIES">ALL_ENEMIES</option>
                                <option value="ALL_ALLIES">ALL_ALLIES</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-6 mt-2">
                            <label for="effectStrength" class="form-label mb-1"><span>Effect Strength</span> <span style="font-size: 10px;">Check = infinity</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value="" id="effectStrengthInfinity" aria-label="Checkbox for infinity strength">
                                </div>
                                <input type="number" class="form-control" min=0 placeholder="Strength" id="effectStrength">
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 mt-2">
                            <label for="effectDuration" class="form-label mb-1"><span>Effect Duration</span> <span style="font-size: 10px;">Check = infinity</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value="" id="effectDurationInfinity" aria-label="Checkbox for infinity duration">
                                </div>
                                <input type="number" class="form-control" min=0 placeholder="Duration" id="effectDuration">
                            </div>
                        </div>

                        <div class="col-12 mt-1">
                            <div class="form-group">
                                <label for="effectDescription">Effect Description:</label>
                                <textarea class="form-control" id="effectDescription" rows="3" placeholder="Effect Description"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </main>

            <footer class="modal-footer border-0">
                <a href="#" target="_top" id="effectSubmit" class="btn btn-sm btn-gray-800">
                    <i class="fa-solid fa-check"></i>
                    {% trans 'Create' %}
                </a>
            </footer>
        </div>
    </div>
</div>

<script id="afterScript" async>
    const csrfToken = document.querySelector('#csrftoken').value;

    // ---- | Urls

    const allUrl = "{% url 'apiQueryTable' table="effects" %}";
    const entryUrl = "{% url 'apiQueryTableID' table="effects" id=0 %}";
    const validateUrl = "{% url 'apiValidateTable' table="effect" %}";

    // ---- | Validate

    const modalRoot = document.querySelector('#modal');
    const effectForm = modalRoot.querySelector('#effectWorkbench');
    const effectSubmitForm = modalRoot.querySelector('#effectSubmit');
    const formValidation = effectForm.querySelector('#effectsValidation');

    const formValidator = new Dashboard.FormValidator(effectForm, validateUrl)
    const formEditor = new Dashboard.FormEditor(effectForm, entryUrl, formValidator);

    // Form Attributes
    const effectTypeInput = effectForm.querySelector('#effectType');
    const effectTargetInput = effectForm.querySelector('#effectTarget');
    const effectStrengthInput = effectForm.querySelector('#effectStrength');
    const effectStrengthInfinityInput = effectForm.querySelector('#effectStrengthInfinity');
    const effectDurationInput = effectForm.querySelector('#effectDuration');
    const effectDurationInfinityInput = effectForm.querySelector('#effectDurationInfinity');
    const effectDescriptionInput = effectForm.querySelector('#effectDescription');

    effectStrengthInfinityInput.addEventListener('change', () => {
        effectStrengthInput.disabled = effectStrengthInfinityInput.checked;
        effectStrengthInput.placeholder = effectStrengthInfinityInput.checked ? "Infinity" : "Strength";
    });
    
    effectDurationInfinityInput.addEventListener('change', () => {
        effectDurationInput.disabled = effectDurationInfinityInput.checked;
        effectDurationInput.placeholder = effectDurationInfinityInput.checked ? "Infinity" : "Duration";
    });

    {% if effectId is not None %}
        formEditor.queryData((data) => {
            const effect = Dashboard.Effect.fromJSON(data);

            effectTypeInput.value = effect.type;
            effectTargetInput.value = effect.target;
            effectStrengthInput.value = effect.strength;
            effectDurationInput.value = effect.duration;
            effectDescriptionInput.value = effect.description;
            
            effectStrengthInfinityInput.checked = effect.strength === -1;
            effectStrengthInfinityInput.placeholder = effect.strength === -1 ? "Infinity" : "Strength";
            
            effectDurationInfinityInput.checked = effect.duration === -1;
            effectDurationInfinityInput.placeholder = effect.duration === -1 ? "Infinity" : "Duration";

            return effect;
        }, () => {
            formEditor.validate();
        });
    {% else %}
        formEditor.object = new Dashboard.Effect(0, null, "", 0, 0, null);
        formEditor.validate();
    {% endif %}

    const validate = () => {
        const effectType = effectTypeInput.value === 'hidden' ? null : effectTypeInput.value;
        const effectTarget = effectTargetInput.value === 'hidden' ? null : effectTargetInput.value;
        
        const strength = effectStrengthInfinityInput.checked ? "-1" : effectStrengthInput.value;
        const effectStrength = effectStrengthInput ? parseInt(strength) : null;
        
        const duration = effectDurationInfinityInput.checked ? "-1" : effectDurationInput.value;
        const effectDuration = effectDurationInput ? parseInt(duration) : null;
        
        const effectDescription = effectDescriptionInput.value;

        formEditor.object = new Dashboard.Effect(null, effectType, effectDescription, effectDuration, effectStrength, effectTarget)

        formEditor.validate();
        effectSubmitForm.classList.add('disabled');
        effectSubmitForm.setAttribute('disabled', 'disabled');
    }

    effectTypeInput.addEventListener('change', validate);
    effectTargetInput.addEventListener('change', validate);
    effectStrengthInput.addEventListener('input', validate);
    effectDurationInput.addEventListener('input', validate);
    effectDescriptionInput.addEventListener('input', validate);
    effectStrengthInfinityInput.addEventListener('change', validate);
    effectDurationInfinityInput.addEventListener('change', validate);

    formValidator.setOnSuccess(() => {
        formValidation.classList.remove('alert-warning', 'alert-danger', 'validating');
        formValidation.classList.add('alert-success', 'alert-collapsed');
        formValidation.innerHTML = '';

        effectSubmitForm.classList.remove('disabled');
        effectSubmitForm.removeAttribute('disabled');
    });

    formValidator.setOnStart(() => {
        formValidation.classList.remove('alert-success', 'alert-danger', 'alert-collapsed');
        formValidation.classList.add('alert-warning', 'validating');
        formValidation.innerHTML = '<i class="fa-solid fa-spinner-third me-1"></i> Validating...';

        effectSubmitForm.setAttribute('disabled', 'disabled');
    });

    formValidator.setOnFail((errors) => {
        formValidator.onSuccess();
        effectSubmitForm.classList.add('disabled');
        effectSubmitForm.setAttribute('disabled', 'disabled');

        if (errors.length === 0) {
            formValidation.classList.remove('alert-success', 'alert-collapsed');
            formValidation.classList.add('alert-danger');
            formValidation.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> Internal Server error!';
            return;
        }

        for (const err of errors) {
            const errorDiv = document.createElement('div');
            errorDiv.classList.add('d-block', 'row', 'mt-1');

            if (!err.errors) {
                errorDiv.innerHTML = `
                    <div class="col-12">
                        <i class="fa-solid fa-exclamation-triangle me-1"></i>
                        <span>${err.message}</span>
                    </div>
                `;
            } else {
                errorDiv.innerHTML = `
                    <div class="col-12">
                        <i class="fa-solid fa-exclamation-triangle me-1"></i>
                        <span>${err.message}</span>
                    </div>
                    ${err.errors.map((field) => {
                        return `
                            <div class="col-12">
                                <span class="ms-1">* ${field.message}</span>
                            </div>
                        `;
                    }).join('')}
                `;
            }

            formValidation.classList.remove('alert-success', 'alert-collapsed');
            formValidation.classList.add('alert-danger');

            formValidation.appendChild(errorDiv);
        }
    })
</script>