{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %} TTS-Dashboard {% endblock %}
        </title>

        {% include 'layouts/../includes/head-tags.html' %}

        {% block stylesheets %}
            <!-- Custom styles -->
        {% endblock stylesheets %}
    </head>

    <body>
        {% include 'includes/sidebar.html' %}

        <main class="content">
            {% include 'includes/navigation.html' %}

            {% block content %}
                <!-- Content -->
            {% endblock content %}

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="helpCanvasSidebar" aria-labelledby="helpCanvasSidebarLabel" style="width: clamp(300px, 50%, 600px);" data-simplebar>
                <div class="offcanvas-header pb-0">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">User Manual</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <hr>
                <div class="offcanvas-body" id="showdownTarget">
                    aaa
                </div>
            </div>

            {% include 'includes/footer.html' %}
        </main>

        {% include 'includes/scripts.html' %}
        <script>
            const pageHref = window.location.href;
            const pageUrl = pageHref.substring(0, pageHref.lastIndexOf('/'));

            // Get path of the current page and remove the domain
            let path = pageUrl.replace(/^(?:\/\/|[^\/]+)*\//, "");
            let pathUrls = path.split('/');

            // Remove first path
            const lang = pathUrls.shift();

            // If empty
            if (pathUrls.length === 0) {
                pathUrls.push('index');
            }

            // If last path is only numbers, remove it
            if (pathUrls.length > 0 && pathUrls[pathUrls.length - 1].match(/^\d+$/)) {
                pathUrls.pop();
            }

            path = pathUrls.join('_');
            let filePath = `{% static 'empty.md' %}`;

            if (path.length !== 0) {
                const showdown = window.showdown;
                const converter = new showdown.Converter();
                const target = document.getElementById('showdownTarget');

                const firstFile = path;
                const firstFilePath = filePath.replace('empty', firstFile);

                fetch(firstFilePath)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.text();
                    })
                    .then(data => {
                        target.innerHTML = converter.makeHtml(data);
                        
                        const parentBook = document.getElementById('parentBook');
                        if (parentBook) {
                            pathUrls.pop();
                            filePath = filePath.replace('empty', pathUrls.join('_'));

                            fetch(filePath)
                                .then(response => response.text())
                                .then(data => {
                                    parentBook.innerHTML = converter.makeHtml(data);
                                });
                        }
                    })
                    .catch(err => {
                        pathUrls.pop()
                        filePath = filePath.replace('empty', pathUrls.join('_'));

                        fetch(filePath)
                            .then(response => response.text())
                            .then(data => {
                                target.innerHTML = converter.makeHtml(data);
                            });
                    });
                }
        </script>

        {% block javascripts %}
            <!-- Custom scripts -->
        {% endblock javascripts %}
    </body>
</html>
