<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %} TTS-Dashboard {% endblock %}
        </title>

        {% include 'layouts/../includes/head-tags.html' %}

        {% block stylesheets %}
            <!-- Custom styles -->
        {% endblock stylesheets %}
    </head>

    <body>
        {% block content %}
            <!-- Content -->
        {% endblock content %}

        {% block help %}
            <!-- Help -->
        {% endblock help %}

        {% include 'includes/scripts.html' %}

        {% block javascripts %}
            <!-- Custom scripts -->
        {% endblock javascripts %}
    </body>
</html>
