{% load i18n %}
{% load gravatar %}

<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
    <div class="container-fluid justify-content-end px-0">
        <ul class="navbar-nav align-items-top">
            <li class="nav-item dropdown ms-lg-3">
                <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="card align-items-center">
                        <div class="card-body text-dark align-items-center p-2 d-none d-lg-block">
                            <img class="avatar rounded-circle" alt="Image placeholder" src="{% gravatar_url user.email 150 %}">
                            <span class="px-2 font-small fw-bold text-gray-900 text-center">
                                {{ request.user.username }}

                                {% if request.user.is_superuser %}
                                    <small class="text-gray-500">{% translate 'Administrator' %}</small>
                                {% else %}
                                    <small class="text-gray-500">{% translate 'User' %}</small>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </a>

                <div class="dropdown-menu dashboard-dropdown dropdown-menu-end py-1">
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                        <i class="fa-solid fa-right-from-bracket me-2 text-danger"></i>
                        {% translate 'Logout' %}
                    </a>

                    {% if request.user.is_superuser %}
                        <div role="separator" class="dropdown-divider my-1"></div>

                        <a class="dropdown-item d-flex align-items-center" href="{% url 'admin:index' %}">
                            <i class="fa-solid fa-user-tie me-2"></i>
                            {% translate 'Django Admin' %}
                        </a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>