{% load filters %}
{% load static %}
{% load i18n %}

<div class="row">
    <div class="col-4 align-self-center">
        <img src="{% static 'img/imgPlaceholder.png' %}" alt="Race Image" class="img-fluid rounded">
    </div>

    <div class="col-8">
        <div class="py-2">
            <h2 class="h5 mb-2">{{ title|stringify }}</h2>

            <div class="d-flex align-items-center tags">
                <span class="badge bg-secondary me-1 rounded-1">Id: #{{ id }}</span>
                <span class="badge bg-secondary me-1 rounded-1">Tag: {{ tag }}</span>
            </div>

            <div class="d-flex align-items-center mt-2">
                {% if description %}
                    <span class="font-small">{{ description }}</span>
                {% else %}
                    <span class="font-small">{% trans 'No description available' %}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-12">
        <h5 class="mt-2 mb-0">{% trans 'Attributes:' %}</h5>

        <div class="accordion accordion-flush" id="entryAttributes">
            <div class="accordion-item">
                <div class="accordion-body">
                    <span>{% trans 'Base Initiative' %}:</span>
                    {{ baseInitiative }}
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-body">
                    <span>{% trans 'Effects' %}:</span>
                    <div id="effectsCard"></div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-body">
                    <span>{% trans 'Actions' %}:</span>
                    <div id="actionsCard"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="entryDataScript">
    let actionsJSON = "{{ actions|safe|escapejs }}";
    actionsJSON = actionsJSON.replace(/'/g, '"');
    actionsJSON = actionsJSON.replace(/None/g, 'null');

    const actionsCard = document.getElementById('actionsCard');
    if (actionsJSON == null || actionsJSON == '[]') {
        actionsCard.innerHTML = `
            <div class="card-header px-3 py-2 sticky-top bg-gray-100">
                No Actions
            </div>
        `;
    } else {
        const actions = JSON.parse(actionsJSON);
        actions.forEach(action => {
            console.log(action);
            const actionCard = new Dashboard.Action.fromJSON(action.action);
            actionsCard.appendChild(actionCard.toCard(true, false, false));
        });
    }

    let effectsJSON = "{{ effects|safe|escapejs }}";
    effectsJSON = effectsJSON.replace(/'/g, '"');
    effectsJSON = effectsJSON.replace(/None/g, 'null');

    const effectsCards = document.getElementById('effectsCard');
    if (effectsJSON == null || effectsJSON == '[]') {
        effectsCards.innerHTML = `
            <div class="card-header px-3 py-2 sticky-top bg-gray-100">
                No Effects
            </div>
        `;
    } else {
        const effects = JSON.parse(effectsJSON);
        effects.forEach(effect => {
            console.log(effect);
            const effectCard = new Dashboard.Effect.fromJSON(effect.effect);
            effectsCards.appendChild(effectCard.toCard(true, false, false));
        });
    }
</script>