{% load static %}
{% load filters %}
{% load i18n %}

<div class="modal" id="modal" aria-hidden="true">
    <div class="modal-overlay" tabindex="-1" data-micromodal-close>
        <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title">
            <header class="modal-header border-0" style="flex-direction: row-reverse;">
                <button class="modal-close hvr-grow" aria-label="Close modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </header>

            <main class="modal-body pt-0 pb-0" id="loading" style="max-height: 620px; margin-left: 12.5px;">
                <div id="card" style="scale: 0.7; transform-origin: 0; -webkit-transform-origin-y: top; -webkit-transform-origin-x: left;"></div>
            </main>

            <footer class="modal-footer border-0 justify-content-center">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <a href="#" target="_top" id="actionDownloadPNG" class="btn btn-sm btn-gray-800">
                            <i class="fa-solid fa-file-image"></i>
                            {% trans 'Download as PNG' %}
                        </a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="#" target="_top" id="actionDownloadPDF" class="btn btn-sm btn-gray-800">
                            <i class="fa-solid fa-file-pdf"></i>
                            {% trans 'Download as PDF' %}
                        </a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="#" target="_top" id="actionDownloadSVG" class="btn btn-sm btn-gray-800">
                            <i class="fa-solid fa-panorama"></i>
                            {% trans 'Download as SVG' %}
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script id="afterScript" async>
    const csrfToken = document.querySelector('#csrftoken').value;

    Notiflix.Block.circle("#loading", 'Loading...');

    let height = 880;
    let width = 630;

    function convertSVGToPDF(svg, filename) {
        const img = new Image();
        img.onload = function () {
            console.log("Image loaded");

            const { jsPDF } = window.jspdf;
            const pdf = new jsPDF({
                orientation: "p",
                unit: "pt",
                format: [width, height]
            });
            
            pdf.svg(svg, {
                x: 0,
                y: 0,
                width: width,
                height: height
            }).then(() => {
                console.log("PDF generated");
                pdf.save(filename);
            });
        };

        const svgData = new XMLSerializer().serializeToString(svg);
        img.src = "data:image/svg+xml;base64," + btoa(svgData);
    }

    function convertSVGToPNG(svg, filename) {
        const canvas = document.createElement("canvas");
        const ctx = canvas.getContext("2d");

        const img = new Image();
        img.onload = function () {
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img, 0, 0);

            const a = document.createElement("a");
            a.href = canvas.toDataURL("image/png");
            a.download = filename;
            a.click();
        };
        img.src = "data:image/svg+xml;base64," + btoa(svg);
    }

    const actionDownloadPNG = document.getElementById("actionDownloadPNG");
    actionDownloadPNG.addEventListener("click", async function (event) {
        event.preventDefault();

        const svg = document.getElementById("card").firstChild;
        const svgData = new XMLSerializer().serializeToString(svg);
        convertSVGToPNG(svgData, "download.png");
    });

    const actionDownloadPDF = document.getElementById("actionDownloadPDF");
    actionDownloadPDF.addEventListener("click", async function (event) {
        event.preventDefault();

        const svg = document.getElementById("card").firstChild;
        convertSVGToPDF(svg, "download.pdf");
    });
    
    const actionDownloadSVG = document.getElementById("actionDownloadSVG");
    actionDownloadSVG.addEventListener("click", async function (event) {
        event.preventDefault();

        const svg = document.getElementById("card").firstChild;
        const svgData = new XMLSerializer().serializeToString(svg);

        const blob = new Blob([svgData], { type: "image/svg+xml" });
        const url = URL.createObjectURL(blob);

        const a = document.createElement("a");
        a.href = url;
        a.download = "download.svg";
        a.click();
    });

    Dashboard.generateEffect("{{ API_URL }}", {{ actionId }}, "card");

</script>