{% load filters %}
{% load i18n %}

<div class="modal" id="filterModal" aria-hidden="true">
    <div class="modal-overlay" tabindex="-1" data-micromodal-close>
        <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal-header border-0">
                <h2 class="modal-title" id="modal-1-title">
                    {% trans 'Filter Settings' %}
                </h2>

                <button class="modal-close hvr-grow" aria-label="Close modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </header>

            <main class="modal-body pt-0 pb-0">
                <form id="filterForm">
                    {% for item in filters %}
                        {% if item.hidden %} {% else %}
                        
                        <div class="row mt-3">
                            {% switch item.type %}
                                {% case "bwn" %}
                                    <div class="col-12">
                                        {{ item.title }}
                                    </div>
                                    <div class="col-12">
                                        <div class="row slider-row" id="input-{{ item.key }}">
                                            <div class="col-2 text-center mt-2 pt-1">
                                                <input class="form-control text-center slider-from" type="text" value="{{ item.value.min }}" data-bound="{{ item.bounds.min }}" required>
                                            </div>
    
                                            <div class="col-8 slider-col">
                                                <div class="slider" id="slider-body"></div>
                                            </div>
    
                                            <div class="col-2 text-center mt-2 pt-1">
                                                <input class="form-control text-center slider-to" type="text" value="{{ item.value.max }}" data-bound="{{ item.bounds.max }}" required>
                                            </div>
                                        </div>
                                    </div>
                                {% endcase %}

                                {% case "is" %}
                                    <div class="col-4 align-self-center">
                                        <p class="m-0">{{ item.title }}</p>
                                    </div>

                                    <div class="col-8 text">
                                        <div class="form-check form-switch p-0 m-0">
                                            <input class="form-check-input m-0 mt-1 h-0" type="checkbox" id="input-{{ item.key }}" value="{{ item.value }}">
                                        </div>
                                    </div>
                                {% endcase %}

                                {% case "of" %}
                                    <div class="col-4 align-self-center">
                                        <p class="m-0">{{ item.title }}</p>
                                    </div>

                                    <div class="col-8 text">
                                        <div class="form-check form-switch p-0 m-0">
                                            <select class="form-select" id="input-{{ item.key }}" value="{{ item.value }}">
                                                <option value="" disabled selected hidden="">{% trans 'Select option' %}</option>
                                                {% for option in item.bounds %}
                                                    <option value="{{ option }}">{{ option }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endcase %}
    
                                {% case "has" %}
                                    <div class="col-4 text-center align-self-center">
                                        <p class="m-0">{{ item.title }}</p>
                                    </div>
    
                                    <div class="col-8 text-center">
                                        <input class="form-control" id="input-{{ item.key }}" type="text" placeholder="String.." value="{{ item.value }}">
                                    </div>
                                {% endcase %}
    
                                {% case "lt" "lte" "eq" "gt" "gte" %}
                                    <div class="col-4 text-center align-self-center">
                                        <p class="m-0">{{ item.title }}</p>
                                    </div>
    
                                    <div class="col-8 text-center">
                                        <input class="form-control" id="input-{{ item.key }}" type="text" placeholder="Number.." value="{{ item.value }}">
                                    </div>
                                {% endcase %}
    
                                {% default %}
                                    No case matched.
                                {% enddefault %}
                            {% endswitch %}
                        </div>

                        {% endif %}
                    {% endfor %}
                
                    <input type="submit" hidden>
                </form>
            </main>

            <footer class="modal-footer border-0">
                <a href="#" target="_top" id="filterSubmit" class="btn btn-sm btn-gray-800">
                    <i class="fa-solid fa-filter me-1"></i>
                    {% trans 'Filter' %}
                </a>
            </footer>
        </div>
    </div>
</div>

<script id="filterScript">
    const sliders = document.getElementsByClassName('slider-row');

    for (const slider of sliders) {
        const sliderBody = slider.querySelector('#slider-body');

        const sliderFrom = slider.querySelector('.slider-from');
        const minBound = parseInt(sliderFrom.getAttribute('data-bound'));
        const minVal = parseInt(sliderFrom.value);

        const sliderTo = slider.querySelector('.slider-to');
        const maxBound = parseInt(sliderTo.getAttribute('data-bound'));
        const maxVal = parseInt(sliderTo.value);

        const sliderItem = noUiSlider.create(sliderBody, {
            start: [minVal || minBound, maxVal || maxBound],
            behavior: 'drag',
            connect: true,
            range: {
                'min': minBound,
                'max': maxBound
            },
            pips: {
                mode: 'steps',
                density: 3
            }
        });

        sliderBody.noUiSlider.on('update', function (values, handle) {
            if (handle) {
                sliderTo.value = Math.floor(values[handle]);
            } else {
                sliderFrom.value = Math.floor(values[handle]);
            }
        });

        sliderFrom.addEventListener('change', function () {
            sliderBody.noUiSlider.set([this.value, null]);
        });

        sliderTo.addEventListener('change', function () {
            sliderBody.noUiSlider.set([null, this.value]);
        });

        const shake = Dashboard.debounce((element) => {
            element.classList.add('animate__animated', 'animate__headShake');

            setTimeout(() => {
                element.classList.remove('animate__animated', 'animate__headShake');
            }, 200);
        }, 100);

        function validateSliderInput(event) {
            const element = event.target;
            element.value = element.value.replace(/[^0-9]/g, '');

            if (isNaN(event.data)) {
                shake(element);
                return;
            }

            if (event.data == null && element.value === '') {
                element.value = 0;
                return;
            }

            if (element.value.startsWith('0')) {
                element.value = element.value.substring(1);
            }
        }

        sliderFrom.addEventListener('input', validateSliderInput);
        sliderTo.addEventListener('input', validateSliderInput);
    }
</script>