{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<!-- SEO Meta Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="TTS - Admin Dashboard">
<meta name="author" content="Pavel 'MIK0486' Mikula">
<meta name="description" content=Reeeeeee"> <!-- TODO: Description -->
<meta name="keywords" content="Reeeeee"/> <!-- TODO: Keywords -->
<meta name="theme-color" content="#ffffff">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static '/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static '/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static '/img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">

<!-- Sweet Alert 2 -->
<link type="text/css" href="{% static '/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static '/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Notiflix -->
<link type="text/css" href="{% static '/notiflix/dist/notiflix-3.2.7.min.css' %}" rel="stylesheet">

<!-- Animate.css and Hover.css -->
<link type="text/css" href="{% static '/animate.css/animate.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static '/hover.css/css/hover-min.css' %}" rel="stylesheet">

<!-- Noui Slider -->
<link type="text/css" href="{% static '/nouislider/dist/nouislider.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static '/css/volt.css' %}" rel="stylesheet">
<link type="text/css" href="{% static '/css/style.css' %}" rel="stylesheet">

<!-- Slider -->
<link type="text/css" href="{% static '/simple-scrollbar/simple-scrollbar.css' %}" rel="stylesheet">

<!-- Fontawesome -->
<link type="text/css" href="{% static '/fontawesomefree/css/fontawesome.css' %}" rel="stylesheet">
<link type="text/css" href="{% static '/fontawesomefree/css/brands.css' %}" rel="stylesheet">
<link type="text/css" href="{% static '/fontawesomefree/css/solid.css' %}" rel="stylesheet">
<link type="text/css" href="{% static '/fontawesomefree/css/regular.css' %}" rel="stylesheet">
{#<link type="text/html" href="{% static '/fontawesomefree/webfonts/fa-solid-900.ttf' %}" rel="font/ttf">#}
