{% load filters %}
{% load i18n %}

<div class="modal" id="searchModal" aria-hidden="true">
    <div class="modal-overlay" tabindex="-1" data-micromodal-close>
        <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal-header border-0">
                <h2 class="modal-title" id="modal-1-title">
                    {% trans 'Search' %}
                </h2>

                <button class="modal-close hvr-grow" aria-label="Close modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </header>

            <main class="modal-body pt-0 pb-0">

            </main>

            <footer class="modal-footer border-0">
                <a href="#" target="_top" id="searchSubmit" class="btn btn-sm btn-gray-800">
                    <i class="fa-solid fa-search me-1"></i>
                    {% trans 'Search' %}
                </a>
            </footer>
        </div>
    </div>
</div>

<script id="searchScript">

</script>