{% extends "layouts/base.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block title %} Mechanics - Items - Editor {% endblock %}

{% block stylesheets %}
    <!-- Empty -->
{% endblock stylesheets %}

{% block content %}
    <input type="hidden" value="{{ csrf_token }}" id="csrftoken" readonly/>
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4 mb-0">{% trans 'Item Workbench' %}</h2>
            <p class="mb-0">{% trans 'Create or edit dungeon items' %}</p>
        </div>
    </div>

    <form id="workbench">
        <div class="row">
            <div class="col-5" id="enemyInformation">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill mb-4">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0">
                                <h2 class="h5">{% trans 'Information:' %}</h2>
                            </div>

                            <div class="card-body p-0 formLoading">
                                <div class="row">
                                    <div class="col-4 align-self-center py-3">
                                        <img src="{% static 'img/Zombie.png' %}" alt="{% trans 'Image' %}" class="img-fluid rounded">
                                    </div>

                                    <div class="col-8 align-self-center">
                                        <div class="py-2">
                                            <h2 class="h5 mb-2">
                                                <label class="visually-hidden" for="itemTitle">Title</label>
                                                <div class="input-group input-group">
                                                    <div class="input-group-text">{% trans 'Title' %}</div>
                                                    <input type="text" class="form-control" id="itemTitle" placeholder="{% trans 'Title' %}" required>
                                                </div>
                                            </h2>

                                            <div class="d-flex align-items-center">
                                                <div class="row gy-2 gx-3 align-items-center">
                                                    <div class="col-4">
                                                        <label class="visually-hidden" for="entryId">Id</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-text">{% trans 'ID' %}</div>
                                                            <input type="text" class="form-control" id="entryId" placeholder="Enemy Id" value="{{ itemId|default:0 }}" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="col-8">
                                                        <label class="visually-hidden" for="itemTag">Tag</label>
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-text">{% trans 'Tag' %}</div>
                                                            <input type="text" class="form-control" id="itemTag" placeholder="{% trans 'Tag' %}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="input-group input-group-sm mt-2">
                                                <label class="input-group-text mb-0" for="itemType">Type</label>
                                                <select class="form-select" id="itemType" required>
                                                    <option value="hidden" selected hidden disabled>Choose Type</option>
                                                    <option value="WEAPON">WEAPON</option>
                                                    <option value="HELMET">HELMET</option>
                                                    <option value="CHESTPLATE">CHESTPLATE</option>
                                                    <option value="LEGGINGS">LEGGINGS</option>
                                                    <option value="BOOTS">BOOTS</option>
                                                </select>
                                            </div>

                                            <div class="input-group input-group-sm mt-2">
                                                <label class="visually-hidden" for="itemRequirements">{% trans 'Requirements' %}</label>
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-text">{% trans 'Tag' %}</div>
                                                    <input type="text" class="form-control" id="itemRequirements" placeholder="{% trans 'Requirements' %}">
                                                </div>
                                            </div>

                                            <div class="align-items-center mt-2">
                                                <label for="itemDescription" class="form-label visually-hidden">{% trans 'Description' %}</label>
                                                <textarea class="form-control" id="itemDescription" rows="3" placeholder="{% trans 'Description' %}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card card-body border-0 shadow">
                            <div class="row justify-content-evenly">
                                <div class="col-lg-6 col-12">
                                    <button class="btn btn-red-100 animate-up-2 w-100" type="reset" id="cancelButton">
                                        {% trans 'Cancel' %}
                                    </button>
                                </div>

                                <div class="col-lg-6 col-12 mt-2 mt-lg-0">
                                    <button class="btn btn-green-100 animate-up-2 w-100" type="submit" id="saveButton">
                                        {% if enemyId is not None %}
                                            {% trans 'Save' %}
                                        {% else %}
                                            {% trans 'Create' %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="alert alert-success fade show validation" role="alert" id="informationValidation">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4" id="enemyActions">
                <div class="row flex-column h-100">

                    <div class="col-12 flex-fill">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0 mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="h5 m-0">{% trans 'Action:' %}</h2>

                                    <div class="col-6 mb-2">
                                        <div class="btn-toolbar justify-content-end">
                                            <a href="javascript:void(0)" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" id="selectAction">
                                                <i class="fa-solid fa-arrow-pointer me-1"></i>
                                                {% trans 'Select' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body p-0 cards-scroll formLoading">
                                <div class="row gap-1" id="actionsList">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="alert alert-success fade show validation" role="alert" id="actionsValidation">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" id="enemyEffects">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0 mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="h5 m-0">{% trans 'Effects:' %}</h2>

                                    <div class="col-6 mb-2">
                                        <div class="btn-toolbar justify-content-end">
                                            <a href="javascript:void(0)" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" id="addEffect">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                {% trans 'Add' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body p-0 formLoading">
                                <div class="row flex-column gap-1" id="effectsList">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="alert alert-success fade show validation" role="alert" id="effectsValidation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    <script async>
        const csrfToken = document.querySelector('#csrftoken').value;

        // ---- | Urls

        const allUrl = "{% url 'apiQueryTable' table="items" %}";
        const entryUrl = "{% url 'apiQueryTableID' table="items" id=itemId|default:0 %}";
        const validateUrl = "{% url 'apiValidateTable' table="item" %}";

        // ---- | Data

        const formRoot = document.getElementById('workbench');
        const formValidator = new Dashboard.FormValidator(formRoot, validateUrl);
        const formEditor = new Dashboard.FormEditor(formRoot, entryUrl, formValidator);

        const itemTitle = formRoot.querySelector('#itemTitle');
        itemTitle.addEventListener('input', () => {
            formEditor.object.title = itemTitle.value;
            formEditor.validate();
        });

        const itemTag = formRoot.querySelector('#itemTag');
        itemTag.addEventListener('input', () => {
            formEditor.object.tag = itemTag.value;
            formEditor.validate();
        });

        const itemType = formRoot.querySelector('#itemType');
        itemType.addEventListener('input', () => {
            formEditor.object.type = itemType.value;
            formEditor.validate();
        });

        const itemDescription = formRoot.querySelector('#itemDescription');
        itemDescription.addEventListener('input', () => {
            formEditor.object.description = itemDescription.value;
            formEditor.validate();
        });

        const selectAction = document.querySelector('#selectAction');
        selectAction.addEventListener('click', () => {
            Dashboard.Modal.openSearch("mechanics/action/actionSearch.html", "actions");
        });

        // On searchDataLoaded event
        document.addEventListener('searchDataLoaded', (event) => {
            const type = event.detail.type;

            const warn = document.createElement('div');
            warn.id = 'warn';
            warn.classList.add('alert', 'alert-warning', 'text-center');
            warn.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> All actions used.';

            if (type === 'actions') {
                const actions = event.detail.data;

                for (const action of actions) {
                    if (action.id === formEditor.object.action.id) {
                        action.card.remove();
                        continue;
                    }

                    action.card.querySelector('button[data-action="add"]').addEventListener('click', (event) => {
                        event.preventDefault();

                        // Add to list
                        const enemyActionsList = document.getElementById('actionsList');
                        const actionCol = document.createElement('div');
                        actionCol.classList.add('col-12');

                        enemyActionsList.innerHTML = '';
                        actionCol.appendChild(action.toCard(false, (event, id) => {
                            event.preventDefault();

                            formEditor.object.action = null;
                            formEditor.validate();
                            actionCol.remove();
                        }));
                        enemyActionsList.appendChild(actionCol);

                        // Add to object
                        const item = formEditor.getObject();
                        item.action = action;

                        action.card.remove();
                        formEditor.validate();
                        
                        Dashboard.Modal.closeOpenedModal();
                    });
                }
            }

            if (type === 'effects') {

            }
        });

        const addEffectButton = document.querySelector('#addEffect');
        addEffectButton.addEventListener('click', () => {
            let promise = Dashboard.Modal.openModal("mechanics/effects/effectsWorkbench.html");
            promise.then((modal) => {
                const modalRoot = modal.modal;

                const effectForm = modalRoot.querySelector('#effectWorkbench');
                const effectSubmitForm = modalRoot.querySelector('#effectSubmit');

                function submitForm() {
                    if (!effectForm.checkValidity()) {
                        Swal.fire({
                            icon: 'error',
                            toast: true,
                            position: 'top-end',
                            title: '{% trans 'Error!' %}',
                            text: '{% trans 'Effect form is not valid!' %}',
                            showConfirmButton: false,
                            timer: 2500
                        })

                        return;
                    }

                    const effectType = effectForm.querySelector('#effectType').value;
                    const effectTarget = effectForm.querySelector('#effectTarget').value;
                    const effectStrength = effectForm.querySelector('#effectStrength').value;
                    const effectDuration = effectForm.querySelector('#effectDuration').value;
                    const effectDescription = effectForm.querySelector('#effectDescription').value;

                    const effect = new Dashboard.Effect(null, effectType, effectDescription, effectDuration, effectStrength, effectTarget);
                    formEditor.object.effects.push(effect);
                    formEditor.validate();

                    const effectCol = document.createElement('div');
                    effectCol.classList.add('col-12');

                    effectCol.appendChild(effect.toCard(true, (event, id) => {
                        event.preventDefault();

                        const entry = formEditor.object;
                        entry.effects = entry.effects.filter(eff => eff !== effect);
                        effectCol.remove();
                        formEditor.validate();
                    }));

                    const enemyEffectsList = document.getElementById('effectsList');
                    enemyEffectsList.appendChild(effectCol);

                    modal.close();
                }

                effectSubmitForm.addEventListener('click', submitForm);
                effectForm.addEventListener('submit', submitForm);
            });
        });

        const infoValidation = document.getElementById('informationValidation');
        const actionsValidation = document.getElementById('actionsValidation');
        const effectsValidation = document.getElementById('effectsValidation');

        formValidator.setOnStart(() => {
            infoValidation.classList.remove('alert-success', 'alert-danger', 'alert-collapsed');
            infoValidation.classList.add('alert-warning', 'validating');
            infoValidation.innerHTML = '<i class="fa-solid fa-spinner-third me-1"></i> Validating...';

            actionsValidation.classList.remove('alert-success', 'alert-danger', 'alert-collapsed');
            actionsValidation.classList.add('alert-warning', 'validating');
            actionsValidation.innerHTML = '<i class="fa-solid fa-spinner-third me-1"></i> Validating...';

            effectsValidation.classList.remove('alert-success', 'alert-danger', 'alert-collapsed');
            effectsValidation.classList.add('alert-warning', 'validating');
            effectsValidation.innerHTML = '<i class="fa-solid fa-spinner-third me-1"></i> Validating...';
        })

        formValidator.setOnSuccess(() => {
            infoValidation.classList.remove('alert-warning', 'alert-danger', 'validating');
            infoValidation.classList.add('alert-success', 'alert-collapsed');
            infoValidation.innerHTML = '';

            actionsValidation.classList.remove('alert-warning', 'alert-danger', 'validating');
            actionsValidation.classList.add('alert-success', 'alert-collapsed');
            actionsValidation.innerHTML = '';

            effectsValidation.classList.remove('alert-warning', 'alert-danger', 'validating');
            effectsValidation.classList.add('alert-success', 'alert-collapsed');
            effectsValidation.innerHTML = '';
        })

        formValidator.setOnFail((errors) => {
            formValidator.onSuccess();

            if (errors.length === 0) {
                effectsValidation.classList.remove('alert-success', 'alert-collapsed');
                effectsValidation.classList.add('alert-danger');
                effectsValidation.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> Internal Server error!';

                actionsValidation.classList.remove('alert-success', 'alert-collapsed');
                actionsValidation.classList.add('alert-danger');
                actionsValidation.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> Internal Server error!';

                infoValidation.classList.remove('alert-success', 'alert-collapsed');
                infoValidation.classList.add('alert-danger');
                infoValidation.innerHTML = '<i class="fa-solid fa-exclamation-triangle me-1"></i> Internal Server error!';
                return;
            }

            for (const err of errors) {
                const errorDiv = document.createElement('div');
                errorDiv.classList.add('d-block', 'row', 'mt-1');

                if (!err.errors) {
                    errorDiv.innerHTML = `
                        <div class="col-12">
                            <i class="fa-solid fa-exclamation-triangle me-1"></i>
                            <span>${err.message}</span>
                        </div>
                    `;
                } else {
                    errorDiv.innerHTML = `
                        <div class="col-12">
                            <i class="fa-solid fa-exclamation-triangle me-1"></i>
                            <span>${err.message}</span>
                        </div>
                        ${err.errors.map((field) => {
                            return `
                                <div class="col-12">
                                    <span class="ms-1">* ${field.message}</span>
                                </div>
                            `;
                        }).join('')}
                    `;
                }

                switch (err.object) {
                    case 'Effect': {
                        effectsValidation.classList.remove('alert-success', 'alert-collapsed');
                        effectsValidation.classList.add('alert-danger');

                        effectsValidation.appendChild(errorDiv);
                        break;
                    }

                    case 'Action': {
                        actionsValidation.classList.remove('alert-success', 'alert-collapsed');
                        actionsValidation.classList.add('alert-danger');

                        actionsValidation.appendChild(errorDiv);
                        break;
                    }

                    default: {
                        infoValidation.classList.remove('alert-success', 'alert-collapsed');
                        infoValidation.classList.add('alert-danger');

                        infoValidation.appendChild(errorDiv);
                        break;
                    }
                }
            }
        })

        {% if itemId is not None %}
            formEditor.queryData((data) => {
                const item = Dashboard.Item.fromJSON(data);

                const itemTitle = document.getElementById('itemTitle');
                itemTitle.value = item.title;

                const itemTag = document.getElementById('itemTag');
                itemTag.value = item.tag;

                const itemType = document.getElementById('itemType');
                itemType.value = item.type;

                const itemDescription = document.getElementById('itemDescription');
                itemDescription.value = item.description;

                const itemRequirements = document.getElementById('itemRequirements');
                itemRequirements.value = item.requirements;

                const effectsList = document.getElementById('effectsList');
                item.effects.forEach((effect) => {
                    const effectCol = document.createElement('div');
                    effectCol.classList.add('col-12');

                    effectCol.appendChild(effect.toCard(true, (event, id) => {
                        event.preventDefault();

                        item.effects = item.effects.filter(effect => effect.id !== id);
                        effectCol.remove();
                        formEditor.validate();
                    }));
                    effectsList.appendChild(effectCol);
                });

                const actionsList = document.getElementById('actionsList');
                const action = item.action;
                if (action !== null) {
                    const actionCol = document.createElement('div');
                    actionCol.classList.add('col-12');

                    actionCol.appendChild(action.toCard(true, (event, id) => {
                        event.preventDefault();

                        item.action = null;
                        actionCol.remove();
                        formEditor.validate();
                    }));
                    actionsList.appendChild(actionCol);
                }

                return item;
            }, () => {
                formEditor.validate();
            });
        {% else %}
            formEditor.object = new Dashboard.Item(0, null, "", "", "", "", null, []);
            formEditor.validate();
        {% endif %}

        // ----

        const cancelButton = document.getElementById('cancelButton');
        cancelButton.addEventListener('click', () => {
            Swal.fire({
                title: '{% trans 'Are you sure?' %}',
                text: '{% trans 'You will loose all your changes!' %}',
                icon: 'warning',
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonColor: Dashboard.Color.RED.lighten(0.2).toRGB(),
                cancelButtonColor: Dashboard.Color.GREY.lighten(0.2).toRGB(),
                confirmButtonText: '{% trans 'Yes, cancel!' %}',
                cancelButtonText: '{% trans 'No, keep editing' %}',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'itemViewer' %}";
                }
            });
        });

        const saveButton = document.getElementById('saveButton');
        saveButton.addEventListener('click', (event) => {
            event.preventDefault();

            // Check form validity
            const form = document.getElementById('workbench');
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            if (formValidator.isValidating()) {
                return Swal.fire({
                    icon: 'warning',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Entry object is validating, please wait!" %}',
                    showConfirmButton: false,
                    timer: 2500
                });
            }

            if (!formEditor.isValid()) {
                return Swal.fire({
                    icon: 'error',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Entry object is not valid!" %}',
                    showConfirmButton: false,
                    timer: 2500
                });
            }

            Notiflix.Block.circle("#workbench", 'Saving...');

            const entryIdInput = form.querySelector('#entryId');
            const entryId = entryIdInput.value;

            let url = "{% url 'apiQueryTable' table="obstacles" %}";
            {% if partId is not undefined %}
                url = "{% url 'apiQueryTableID' table="obstacles" id=0 %}".replace(0, entryId);
            {% endif %}

            formEditor.saveData(() => {
                Swal.fire({
                    icon: 'success',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Success, entry object saved!" %}',
                    showConfirmButton: false,
                    timer: 2500
                })

                setTimeout(() => {
                    window.location.href = "{% url 'obstacleViewer' %}";
                }, 1000);

                Notiflix.Block.remove("#workbench");
            }, (responseText) => {
                Notiflix.Block.remove("#workbench");

                Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 10000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                        toast.addEventListener('click', () => {
                            const data = JSON.parse(responseText);
                            const string = JSON.stringify(data, null, 4);

                            Swal.fire({
                                text: string,
                                customClass: {
                                    htmlContainer: 'text-start text-pre'
                                },
                                showConfirmButton: false,
                            });
                        })
                    }
                }).fire({
                    icon: "error",
                    title: '{% trans "Error, saving failed! Click for more information." %}'
                });
            });
        });
    </script>
{% endblock javascripts %}