{% extends "layouts/base.html" %}
{% load filters %}
{% load i18n %}

{% block title %} Dungeon - Parts - Editor {% endblock %}

{% block stylesheets %}
    <!-- Empty -->
{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4 mb-0">{% trans 'Part Workbench' %}</h2>
            <p class="mb-0">{% trans 'Create or edit part shape' %}</p>
        </div>
    </div>

    <form>
        <div class="row">
            <div class="col-12 col-xl-3" id="partInformation">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill mb-4">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0">
                                <h2 class="h5">{% trans 'Part Information:' %}</h2>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <label for="partID">Part ID:</label>
                                        <input class="form-control" id="partID" type="number" required="" value="{{ partId|default:0 }}" readonly>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="partTag">Part Tag:</label>
                                        <input class="form-control" id="partTag" type="text" placeholder="Enter short identifier" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card card-body border-0 shadow">
                            <div class="row justify-content-evenly">
                                <div class="col-6">
                                    <button class="btn btn-red-100 animate-up-2 w-100" type="reset" id="cancelButton">
                                        {% trans 'Cancel' %}
                                    </button>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-green-100 animate-up-2 w-100" type="submit" id="saveButton">
                                        {% if partId is not None %}
                                            Save
                                        {% else %}
                                            Create
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-9">
                <div class="card card-body border-0 shadow h-100">
                    <canvas id="editorCanvas"></canvas>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    <script async>
        const canvasRoot = document.getElementById('editorCanvas');
        const canvas = new Dashboard.Canvas(canvasRoot, {
            title: 'Error',
            subtitle: 'An error occurred while loading the canvas.',
            spacer: 100,
        });

        // ----

        const hexGridSize = 30;
        const hexGrid = new Dashboard.HexGrid(canvas, hexGridSize, [
            new Dashboard.Hex(new Dashboard.CubeCoordinate(0, 0, 0), hexGridSize, [])
        ]);

        const gridEditor = new Dashboard.GridEditor(canvas, hexGrid);

        {% if partId is not None %}
            hexGrid.readData("{% url 'apiQueryTableID' table="parts" id=partId %}", () => {
                const tagInput = document.getElementById('partTag');
                tagInput.value = hexGrid.getTag();

                canvas.setLoading(false);
                canvas.clear();
                gridEditor.calculatePlaceholderHexes();
                gridEditor.draw();
            });
        {% else %}
            gridEditor.draw();
        {% endif %}

        canvas.addOnSizeListener(() => {
            canvas.clear();
            gridEditor.draw();
        });

        // ----

        const cancelButton = document.getElementById('cancelButton');
        cancelButton.addEventListener('click', () => {
            Swal.fire({
                title: '{% trans 'Are you sure?' %}',
                text: '{% trans 'You will loose all your changes!' %}',
                icon: 'warning',
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonColor: '#D33',
                cancelButtonColor: '#AAA',
                confirmButtonText: '{% trans 'Yes, cancel!' %}',
                cancelButtonText: '{% trans 'No, keep editing' %}',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'partViewer' %}";
                }
            });
        });

        const saveButton = document.getElementById('saveButton');
        saveButton.addEventListener('click', (event) => {
            event.preventDefault();
            console.log(hexGrid.exportData(1));
        });
    </script>
{% endblock javascripts %}