{% extends "layouts/base.html" %}
{% load filters %}
{% load i18n %}

{% block title %} Dungeon - Parts {% endblock %}

{% block stylesheets %}
    <!-- Empty -->
{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4">{% translate 'All Parts' %}</h2>
            <p class="mb-0">{% translate 'Manage of all parts in database' %}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-6" id="partsTable">
            <div class="table-settings mb-2" id="tableSettings">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 col-sm-6">
                        <div class="input-group fmxw-500">
                            <span class="input-group-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>

                            <input type="text" class="form-control" placeholder="{% translate 'Search' %}" id="tableSearch" value="{{ SEARCH }}">
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="btn-toolbar mb-2 mb-md-0 justify-content-end">
                            <a href="{% url 'partCreator' %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
                                <i class="fa-solid fa-plus me-1"></i>
                                {% translate 'New Part' %}
                            </a>

                            <div class="btn-group ms-2 ms-lg-3">
                                <button type="button" class="btn btn-sm btn-outline-gray-600" id="uploadButton">{% translate 'Upload' %}</button>
                                <button type="button" class="btn btn-sm btn-outline-gray-600" id="exportButton">{% translate 'Export' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tableData">
                <div class="table-wrapper table-responsive card card-body border-0 shadow">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="border-gray-200">#</th>
                                <th class="border-gray-200">{% translate 'Tag' %}</th>
                                <th class="border-gray-200 text-center">{% translate 'Hexes' %}</th>
                                <th class="border-gray-200 text-center">{% translate 'Usage' %}</th>
                                <th class="border-gray-200 text-center">{% translate 'Action' %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for i in 10|range %}
                                <tr>
                                    {% for y in 5|range %}
                                        <td class="text-center">
                                            <span class="skeleton-line"></span>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="table-pagination mt-2 d-flex flex-column flex-lg-row align-items-center justify-content-between">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#">{% translate 'Previous' %}</a>
                            </li>

                            {% for i in 5|range %}
                                <li class="page-item {% if i == 0 %} active {% endif %}">
                                    <a class="page-link" href="#">{{ i|increment }}</a>
                                </li>
                            {% endfor %}

                            <li class="page-item">
                                <a class="page-link" href="#">{% translate 'Next' %}</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="fw-normal small mt-4 mt-lg-0">
                        {% translate 'Showing' %} <b>10</b> {% translate 'of' %} <b>10</b> {% translate 'entries' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-6">
            <div class="card card-body border-0 shadow h-100">
                <canvas id="hexGridView"></canvas>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        const canvasRoot = document.getElementById('hexGridView');
        const canvas = new Dashboard.Canvas(canvasRoot, true, {
            title: 'No Data',
            substr: 'Please select a part to render!',
            spacer: 100
        });

        // ----

        const urlParams = new URLSearchParams(window.location.search);
        let page = urlParams.get('page') || 1;
        let limit = urlParams.get('limit') || 10;
        let filter = urlParams.get('filter') || '';

        const apiUrl = '/api/table/parts';
        const template = '/dungeon/parts/partsData.html';

        const tableRoot = document.getElementById('partsTable');
        const tableFilter = new Dashboard.TableFilter(["tag:has"]);
        const table = new Dashboard.Table(tableRoot, template, tableFilter);

        table.setOnDataLoad(() => {
            table.setAction("view", (event, element) => {
                const id = element.getAttribute('data-part');
                event.preventDefault();

                const hexGrid = new Dashboard.HexGrid(canvas, []);
                hexGrid.readData(30, `${apiUrl}/${id}`);

                canvas.setOnResize(() => {
                    hexGrid.draw();
                });
            });

            table.setAction("delete", (event, element) => {
                const id = element.getAttribute('data-part');
                event.preventDefault();

                Swal.fire({
                    title: "{% translate "Are you sure?" %}",
                    text: "{% translate "You won't be able to revert this!" %}",
                    icon: "warning",
                    showCancelButton: true,
                    reverseButtons: true,
                    confirmButtonText: "{% translate "Yes, delete it!" %}",
                    confirmButtonColor: '#3a3',
                    cancelButtonText: "{% translate "No, cancel!" %}",
                    cancelButtonColor: '#a33'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const csrfToken = tableRoot.querySelector('#csrftoken').value;

                        console.log(`Button | Deleting part ${id}`);
                        Swal.fire({
                            title: '{% translate "Deleting..." %}',
                            text: '{% translate "The part is being deleted." %}',
                            icon: 'info',
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false,
                            showConfirmButton: false
                        });

                        const request = new XMLHttpRequest();
                        request.onreadystatechange = () => {
                            if (request.readyState === 4) {
                                if (request.status === 204) {
                                    console.log(`Button | Deleting part ${id} successful`);
                                    Swal.fire({
                                        title: '{% translate "Success!" %}',
                                        text: '{% translate "The part has been deleted." %}',
                                        icon: 'success',
                                        timer: 1500
                                    });

                                    table.queryData(apiUrl, page, limit);
                                } else {
                                    const data = JSON.parse(request.responseText);

                                    console.log(`Button | Deleting part ${id} failed`);
                                    Swal.fire({
                                        title: '{% translate "The part could not be deleted." %}',
                                        text: data.error,
                                        icon: 'error',
                                        confirmButtonText: '{% translate "Ok" %}'
                                    });
                                }
                            }
                        };

                        request.open('DELETE', `/api/table/parts/${id}`);
                        request.setRequestHeader('X-CSRFToken', csrfToken);
                        request.send();
                    }
                });
            });

            table.setAction("download", (event, element) => {
                const id = element.getAttribute('data-part');
                event.preventDefault();

                Swal.fire({
                    toast: true,
                    icon: 'success',
                    title: '{% translate "Downloading started.." %}',
                    position: 'bottom-right',
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 2000,
                })

                window.location.assign(`${apiUrl}/${id}?download`);
            });

            table.setAction("edit", (event, element) => {
                const id = element.getAttribute('data-part');
                event.preventDefault();

                window.location.assign("{% url 'partEditor' id=0 %}".replace(0, id));
            });
        })

        table.getFilter().set('tag', filter)
        table.queryData(apiUrl, page, limit);

        // Setup search
        const searchInput = document.getElementById('tableSearch');
        searchInput.addEventListener('keyup', () => {
            let timeout = null;

            function process() {
                filter = searchInput.value;

                // Update filter param in URL
                const pageUrl = new URL(window.location.href);
                filter ? pageUrl.searchParams.set('filter', filter) : pageUrl.searchParams.delete('filter');
                window.history.replaceState({}, '', pageUrl.toString());

                table.getFilter().set('tag', filter);
                table.queryData(apiUrl, 0, limit);
            }

            if (event.keyCode === 13) { // Enter pressed
                clearTimeout(timeout);
                process();
            } else {
                clearTimeout(timeout);
                timeout = setTimeout(process, 500);
            }
        });

        // Setup upload
        const uploadButton = document.getElementById('uploadButton');
        uploadButton.addEventListener('click', async () => {
            const { value: file } = await Swal.fire({
                title: '{% translate 'Select a file' %}',
                input: 'file',
                inputAttributes: {
                    'accept': 'application/json',
                    'aria-label': '{% translate 'Upload your file' %}'
                },
                showCancelButton: true,
                confirmButtonText: '{% translate 'Upload' %}',
                cancelButtonText: '{% translate 'Cancel' %}',
                inputValidator: (value) => {
                    if (!value) {
                        return '{% translate 'You need to select a file' %}';
                    }
                },
                customClass: {
                    input: 'popup-input'
                }
            });

            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    const data = JSON.parse(e.target.result);

                    Swal.fire({
                        title: '{% translate 'Uploading...' %}',
                        text: '{% translate 'The file is being uploaded.' %}',
                        icon: 'info',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showConfirmButton: false
                    });

                    const request = new XMLHttpRequest();
                    request.onreadystatechange = () => {
                        if (request.readyState === 4) {
                            console.log(request.status);
                            console.log(request.responseText);

                            if (request.status === 200) {
                                Swal.fire({
                                    title: '{% translate 'Success!' %}',
                                    text: '{% translate 'The file has been uploaded.' %}',
                                    icon: 'success',
                                    timer: 3000
                                });

                                table.queryData(apiUrl, page, limit);
                            } else {
                                const data = JSON.parse(request.responseText);

                                Swal.fire({
                                    title: '{% translate 'The file could not be uploaded.' %}',
                                    text: data.message,
                                    icon: 'error',
                                    confirmButtonText: '{% translate 'Ok' %}'
                                });
                            }
                        }
                    };

                    const csrfToken = tableRoot.querySelector('#csrftoken').value;

                    console.log(data);
                    console.log("post");
                    console.log(JSON.stringify(data));

                    request.open('POST', '/{{ request.LANGUAGE_CODE }}/api/table/parts/');
                    request.setRequestHeader('Content-Type', 'application/json');
                    request.setRequestHeader('X-CSRFToken', csrfToken);
                    request.send(JSON.stringify(data));
                };

                reader.readAsText(file);
            }
        });

        // Setup export
        const exportButton = document.getElementById('exportButton');
        exportButton.addEventListener('click', async (event) => {
            event.preventDefault();

            Swal.fire({
                toast: true,
                icon: 'success',
                title: '{% translate "Downloading started.." %}',
                position: 'bottom-right',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 2000,
            })

            window.location.assign(`/api/table/parts/?download`);
        });
    </script>
{% endblock javascripts %}