{% extends "layouts/base.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block title %} Dungeon - Parts - Editor {% endblock %}

{% block stylesheets %}
    <!-- Empty -->
{% endblock stylesheets %}

{% block content %}
    <input type="hidden" value="{{ csrf_token }}" id="csrftoken" readonly/>
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h2 class="h4 mb-0">{% trans 'Part Workbench' %}</h2>
            <p class="mb-0">{% trans 'Create or edit part shape' %}</p>
        </div>
    </div>

    <form id="partWorkbench">
        <div class="row">
            <div class="col-12 col-xl-3" id="partInformation">
                <div class="row flex-column h-100">
                    <div class="col-12 flex-fill mb-4">
                        <div class="card card-body border-0 shadow h-100">
                            <div class="card-header p-0">
                                <h2 class="h5">{% trans 'Part Information:' %}</h2>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <label for="partID">Part ID:</label>
                                        <input class="form-control" id="partID" type="number" required="" value="{{ partId|default:0 }}" readonly>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="partTag">Part Tag:</label>
                                        <input class="form-control" id="partTag" type="text" placeholder="Enter short identifier" required>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="partTitle">Part Title:</label>
                                        <input class="form-control" id="partTitle" type="text" placeholder="Enter title of part" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card card-body border-0 shadow">
                            <div class="row justify-content-evenly">
                                <div class="col-lg-6 col-12">
                                    <button class="btn btn-red-100 animate-up-2 w-100" type="reset" id="cancelButton">
                                        {% trans 'Cancel' %}
                                    </button>
                                </div>

                                <div class="col-lg-6 col-12 mt-2 mt-lg-0">
                                    <button class="btn btn-green-100 animate-up-2 w-100" type="submit" id="saveButton">
                                        {% if partId is not None %}
                                            Save
                                        {% else %}
                                            Create
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-9 mt-4 mt-xl-0" id="canvasHolder">
                <div class="card card-body border-0 shadow h-100" style="min-height: 600px">
                    <canvas id="editorCanvas"></canvas>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    <script async>
        const canvasRoot = document.getElementById('editorCanvas');
        const canvas = new Dashboard.Canvas(canvasRoot, {
            title: 'Error',
            subtitle: 'An error occurred while loading the canvas.',
            spacer: 100,
        });

        // ----

        const hexGridSize = 30;
        const hexGrid = new Dashboard.HexGrid(canvas, hexGridSize, [
            new Dashboard.Hex(null, new Dashboard.CubeCoordinate(0, 0, 0), hexGridSize, [])
        ]);
        const gridEditor = new Dashboard.GridEditor(canvas, hexGrid);
        gridEditor.calculatePlaceholderHexes();

        canvas.addOnSizeListener(() => {
            if (!canvas.isDrawn() || canvas.isLoading()) {
                return;
            }

            canvas.clear();
            gridEditor.draw();
        });

        const tagInput = document.getElementById('partTag');
        tagInput.addEventListener('input', () => {
            hexGrid.setTag(tagInput.value);
            gridEditor.validate();
        });

        const titleInput = document.getElementById('partTitle');
        titleInput.addEventListener('input', () => {
            hexGrid.setTitle(titleInput.value);
            gridEditor.validate();
        });

        {% if partId is not None %}
            hexGrid.readData("{% url 'apiQueryTableID' table="parts" id=partId %}", () => {
                tagInput.value = hexGrid.getTag();
                titleInput.value = hexGrid.getTitle();

                canvas.setLoading(false);
                canvas.clear();
                gridEditor.calculatePlaceholderHexes();
                gridEditor.draw();
                gridEditor.validate();
            });
        {% else %}
            gridEditor.draw();
            gridEditor.validate();
        {% endif %}

        // ----

        const cancelButton = document.getElementById('cancelButton');
        cancelButton.addEventListener('click', () => {
            Swal.fire({
                title: '{% trans 'Are you sure?' %}',
                text: '{% trans 'You will loose all your changes!' %}',
                icon: 'warning',
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonColor: Dashboard.Color.RED.lighten(0.2).toRGB(),
                cancelButtonColor: Dashboard.Color.GREY.lighten(0.2).toRGB(),
                confirmButtonText: '{% trans 'Yes, cancel!' %}',
                cancelButtonText: '{% trans 'No, keep editing' %}',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'partViewer' %}";
                }
            });
        });

        const saveButton = document.getElementById('saveButton');
        saveButton.addEventListener('click', (event) => {
            event.preventDefault();

            // Check form validity
            const form = document.getElementById('partWorkbench');
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            // Check if grid is validating
            if (gridEditor.isValidating()) {
                return Swal.fire({
                    icon: 'warning',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Grid is validating, please wait!" %}',
                    showConfirmButton: false,
                    timer: 2500
                });
            }
            
            // Check if the grid is valid
            if (!gridEditor.isValid()) {
                return Swal.fire({
                    icon: 'error',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Grid is not valid!" %}',
                    showConfirmButton: false,
                    timer: 2500
                });
            }

            const Notiflix = window['Notiflix'];
            Notiflix.Block.circle("#partWorkbench", 'Saving...');

            const partIdInput = form.querySelector('#partID');
            const partId = partIdInput.value;

            let url = "{% url 'apiQueryTable' table="parts" %}";
            {% if partId is not undefined %}
                url = "{% url 'apiQueryTableID' table="parts" id=0 %}".replace(0, partId);
            {% endif %}
            
            hexGrid.saveData(url, () => {
                Swal.fire({
                    icon: 'success',
                    toast: true,
                    position: 'top-end',
                    text: '{% trans "Success, part saved!" %}',
                    showConfirmButton: false,
                    timer: 2500
                })

                setTimeout(() => {
                    window.location.href = "{% url 'partViewer' %}";
                }, 1000);
            }, (responseText) => {
                Notiflix.Block.remove("#canvasHolder");

                Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 10000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                        toast.addEventListener('click', () => {
                            const data = JSON.parse(responseText);
                            const string = JSON.stringify(data, null, 4);

                            Swal.fire({
                                text: string,
                                customClass: {
                                    htmlContainer: 'text-start text-pre'
                                },
                                showConfirmButton: false,
                            });
                        })
                    }
                }).fire({
                    icon: "error",
                    title: '{% trans "Error, saving failed! Click for more information." %}'
                });
            });
        });
        
        //region Upload hidden button
        // Setup upload
        /*
        const uploadButton = document.getElementById('uploadButton');
        uploadButton.addEventListener('click', async () => {
            const { value: file } = await Swal.fire({
                title: '{% translate 'Select a file' %}',
                input: 'file',
                inputAttributes: {
                    'accept': 'application/json',
                    'aria-label': '{% translate 'Upload your file' %}'
                },
                showCancelButton: true,
                confirmButtonText: '{% translate 'Upload' %}',
                cancelButtonText: '{% translate 'Cancel' %}',
                inputValidator: (value) => {
                    if (!value) {
                        return '{% translate 'You need to select a file' %}';
                    }
                },
                customClass: {
                    input: 'popup-input'
                }
            });

            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    const data = JSON.parse(e.target.result);

                    Swal.fire({
                        title: '{% translate 'Uploading...' %}',
                        text: '{% translate 'The file is being uploaded.' %}',
                        icon: 'info',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showConfirmButton: false
                    });

                    const request = new XMLHttpRequest();
                    request.onreadystatechange = () => {
                        if (request.readyState === 4) {
                            console.log(request.status);
                            console.log(request.responseText);

                            if (request.status === 200) {
                                Swal.fire({
                                    title: '{% translate 'Success!' %}',
                                    text: '{% translate 'The file has been uploaded.' %}',
                                    icon: 'success',
                                    timer: 3000
                                });

                                table.queryData(apiUrlAll, page, limit);
                            } else {
                                const data = JSON.parse(request.responseText);

                                Swal.fire({
                                    title: '{% translate 'The file could not be uploaded.' %}',
                                    text: data.message,
                                    icon: 'error',
                                    confirmButtonText: '{% translate 'Ok' %}'
                                });
                            }
                        }
                    };

                    const csrfToken = tableRoot.querySelector('#csrftoken').value;

                    console.log(data);
                    console.log("post");
                    console.log(JSON.stringify(data));

                    request.open('POST', '/{{ request.LANGUAGE_CODE }}/'+ apiUrlAll);
                    request.setRequestHeader('Content-Type', 'application/json');
                    request.setRequestHeader('X-CSRFToken', csrfToken);
                    request.send(JSON.stringify(data));
                };

                reader.readAsText(file);
            }
        });
        */
//endregion
    </script>
{% endblock javascripts %}