.slider-fit {
  padding: 0 16px;
}

.slider-row {
  height: 5rem;
  align-content: center;
}

.slider {
  margin-top: 40px;
}

.noUi-pips-horizontal:last-child .noUi-marker-large, .noUi-marker-sub {
  display: none;
}

.noUi-pips-horizontal {
  top: -55px !important;
}

.noUi-marker-normal {
  top: 40px !important;
}
