@import "buttons";
@import "skeleton";
@import "modal";
@import "table";
@import "slider";
@import "treeView";
@import "badges";
@import "chart";
@import "validation";

.text-pre {
  white-space: pre;
}

.remove-background {
  mix-blend-mode: multiply;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-txt-bottom {
  vertical-align: text-bottom;
}

.badge p {
  font-weight: 600;
}

.h-0 {
  height: 1.1em !important;
}

.pointer {
  cursor: pointer;
}

.cards-scroll {
  max-height: 600px;
  overflow: auto;
  overflow-x: hidden;
}

.tags {
  flex-wrap: wrap;
  grid-row-gap: 5px;
}

.card-list {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
}