@import "buttons";
@import "skeleton";
@import "modal";

.popup-input {
  padding: 10px;
}

.text-pre {
  white-space: pre;
}

.orderable {
  cursor: default;

  &:hover {
    cursor: pointer;
    color: #eee;
  }

  &.asc::after {
    content: "▲";
  }

  &.desc::after {
      content: "▼";
  }
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.375rem 0.625rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}